<div>
    <div class="headerstricky-bar">
        <div class="container">
            <div class="main-header d-flex">
                <div class="header-left">
                    <div class="header-logo">
                        <a href="#">
                            <img src="../../assets/varcas-logo-2.png" alt="varcas">
                        </a>
                    </div>
                </div>
                <div class="header-nav">
                    <nav class="nav-main-menu">
                        <div class="dropdown">
                            <button class="dropbtn">
                                Home
                                <i class="fas fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content1">
                                <a href="#">
                                    Home1
                                </a>
                                <a href="#">
                                    Home2
                                </a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">
                                Find a job
                                <i class="fas fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content1">
                                <a href="#">Jobs List</a>
                                <a href="#">Jobs Details</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">
                                Recruiters
                                <i class="fas fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content1">
                                <a href="#">Recruiters</a>
                                <a href="#">Company Details</a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">
                                Candidates
                                <i class="fas fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content1">
                                <a href="#">Candidates Profile</a>
                                <a routerLink="profiles">Candidates Details </a>
                            </div>
                        </div>
                        <div class="dropdown">
                            <button class="dropbtn">
                                Pages
                                <i class="fas fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="#">Contact Us</a>
                                <a routerLink="register">Register</a>
                                <a routerLink="signin" >Signin</a>
                                <a href="#">Resent Password</a>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="icons">
                    <div class="btn-1">
                        <button class="btn-2">Register</button>
                        <button class="btn-3">sign in</button>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">
        <!-- <router-outlet></router-outlet> -->
    </div>
</div>
<!-- <div>
    <h1>hello</h1>
</div> -->
