<div class="footer mt-50">
    <div class="container">
        <div class="row">
            <div class="footer-col-1 col-md-3 col-sm-12">
                <a href="#" class="img-3">
                    <img src="../../assets/varcas-logo-2.png" alt="">
                </a>
                <div class="mt-20 mb-20 font-xs color-text-paragraph-2">
                    "varcas is the heart design community and the best resource to discover and connect with designers and jobs worldwide."
                </div>
                <div class="footer-social">
                    <a href="#" class="icon-socials icon-facebook"></a>
                    <a href="#" class="icon-socials icon-twitter"></a>
                    <a href="#" class="icon-socials icon-linkedin"></a>
                </div>
            </div>
            <div class="footer-col-2 col-md-2 col-xs-6">
                <h6 class="mb-20">Resources</h6>
                <ul class="menu-footer">
                    <li>
                        <a href="#">About us</a>
                    </li>
                    <li>
                        <a href="#">Our Team</a>
                    </li>
                    <li>
                        <a href="#">Products</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="footer-col-3 col-md-2 col-xs-6">
                <h6 class="mb-20">Community</h6>
                <ul class="menu-footer">
                    <li>
                        <a href="#">Feature</a>
                    </li>
                    <li>
                        <a href="#">Pricing</a>
                    </li>
                    <li>
                        <a href="#">Credit</a>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="footer-col-4 col-md-2 col-xs-6">
                <h6 class="mb-20">Quick links</h6>
                <ul class="menu-footer">
                    <li>
                        <a href="#">iOS</a>
                    </li>
                    <li>
                        <a href="#">Android</a>
                    </li>
                    <li>
                        <a href="#">Microsoft</a>
                    </li>
                    <li>
                        <a href="#">Desktop</a>
                    </li>
                </ul>
            </div>
            <div class="footer-col-5 col-md-2 col-xs-6">
                <h6 class="mb-20">More</h6>
                <ul class="menu-footer">
                    <li>
                        <a href="#">Privacy</a>
                    </li>
                    <li>
                        <a href="#">Help</a>
                    </li>
                    <li>
                        <a href="#">Terms</a>
                    </li>
                    <li>
                        <a href="#">FAQ</a>
                    </li>
                </ul>
            </div>
            <div class="footer-col-6 col-md-2 col-sm-12">
                <h6 class="mb-20">Download App</h6>
                <p class="color-text-paragraph-2 font-xs">Download our Apps and get extra 15% Discount on your first Order....!</p>
                <div class="mt-15 d-flex">
                    <a class="mr-5" href="#">
                        <img src="../../assets/app-store.png" alt="">
                    </a>
                    <a href="#">
                        <img src="../../assets/android.png" alt="">
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-bottom mt-50">
            <div class="row">
                <div class="col-md-6">
                    <span class="font-xs color-text-paragragh">Copyright @ 2022. varcas all right reserved</span>
                </div>
            </div>
            <div class="col-md-6 text-md-end text-start">
                <div class="footer-social1">
                    <a href="#" class="font-xs color-text-paragraph">Privacy Policy</a>
                    <a href="#" class="font-xs color-text-paragraph mr-30 ml-30">Terms & conditions</a>
                    <a href="#" class="font-xs color-text-paragraph mr-30 ml-30">Security</a>
                </div>
            </div>
        </div>
    </div>
</div>
