<section class="varcas">
    <section class="section1">
        <div class="aaa">
            <div class="a">
                <h1>Browser Companies</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni,
                    atque delectus molestias quis?</p>
            </div>
            <div class="aa">
                <button>
                    <h5 class="b">A</h5>
                    <h5>B</h5>
                    <h5>C</h5>
                    <h5>D</h5>
                    <h5>E</h5>
                    <h5>F</h5>
                    <h5>G</h5>
                    <h5>H</h5>
                    <h5>I</h5>
                    <h5>J</h5>
                    <h5>K</h5>
                    <h5>L</h5>
                    <h5>M</h5>
                    <h5>N</h5>
                    <h5>O</h5>
                    <h5>P</h5>
                    <h5>Q</h5>
                    <h5>R</h5>
                    <h5>S</h5>
                    <h5>T</h5>
                    <h5>U</h5>
                    <h5>V</h5>
                    <h5>W</h5>
                    <h5>X</h5>
                    <h5>Y</h5>
                    <h5>Z</h5>
                </button>
            </div>
        </div>
    </section>
  
    <section class="container3">
        <div class="advance">
            <h4>Advance Filter
                <a class="link-reset" href="/jobs-list#">Reset</a></h4>
        </div>
        <div class="show">
            <div class="a1">
                <h5>Showing <em>41-60</em> of <em>944</em> jobs</h5>
            </div>
            <div class="a2">
                <div class="b1">
                    <button type="button"><em>Show:</em><strong>12</strong><i class="fa-solid fa-angle-down"></i></button>
                </div>
                <div class="b2">
                <button type="button"><em>Sort by:</em><strong>Newest post</strong> <i class="fa-solid fa-angle-down"></i></button>
            </div>
            <div class="img2">
               <a class="view-type" href="/jobs-list"><img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/icon-list.svg" width="27px" height="27px" alt="jobBox"></a>
            </div>
            <div class="img3">
                <a class="view-type" href="/jobs-grid"><img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/icon-grid-hover.svg" width="27px" height="27px"></a>
            </div>
            </div>
        </div>
    </section>
    <div class="ada">
        <i class="fa-solid fa-location-dot"></i>
        <select>
            <option>New York,US</option>
            <option>London</option>
            <option>Paris</option>
            <option>Berlin</option>
        </select>
    </div>
    <section class="section3">
        <div class="ad">
            <h1>Industry</h1>
        </div>
        <div class="side">
            <div class="adb">

                <span><input type="checkbox">
                    <p>All</p>
                    <h6 class="s">180</h6>
                </span>
                <span><input type="checkbox">
                    <p>Software</p>
                    <h6 class="ss">12</h6>
                </span>
                <span><input type="checkbox">
                    <p>Finance</p>
                    <h6 class="sss">23</h6>
                </span>
                <span><input type="checkbox">
                    <p>Recruiting</p>
                    <h6 class="ssss">43</h6>
                </span>
                <span><input type="checkbox">
                    <p>Management</p>
                    <h6 class="ssss">65</h6>
                </span>
                <span><input type="checkbox">
                    <p>Advertising</p>
                    <h6 class="ssss">76</h6>
                </span>
            </div>
            <div class="one">
                <div class="f">
                    <div class="ff">
                        <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-1.png">
                    </div>
                    <div class="fff">
                        <h1>Car Toys</h1>
                    </div>
                    <div class="fff1">
                        <div class="ffff">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                        </div>
                        <div class="fffff">
                            <p>(66)</p>
                        </div>
                    </div>
                    <div class="g">
                        <div class="gg">
                            <i class='fa-solid fa-location-dot'></i>
                        </div>
                        <div class="ggg">
                            <p>NewYork,Us</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>12 jobs open</button>
                    </div>
                </div>
                <div class="f">
                    <div class="ff">
                        <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-2.png">
                    </div>
                    <div class="fff">
                        <h1>Carols Daughter</h1>
                    </div>
                    <div class="fff1">
                        <div class="ffff">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                        </div>
                        <div class="fffff">
                            <p>(18)</p>
                        </div>
                    </div>
                    <div class="g">
                        <div class="gg">
                            <i class='fa-solid fa-location-dot'></i>
                        </div>
                        <div class="ggg">
                            <p>London,Uk</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>25 jobs open</button>
                    </div>
                </div>
                <div class="f">
                    <div class="ff">
                        <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-3.png">
                    </div>
                    <div class="fff">
                        <h1>Amazon</h1>
                    </div>
                    <div class="fff1">
                        <div class="ffff">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                        </div>
                        <div class="fffff">
                            <p>(52)</p>
                        </div>
                    </div>
                    <div class="g">
                        <div class="gg">
                            <i class='fa-solid fa-location-dot'></i>
                        </div>
                        <div class="ggg">
                            <p>Tokyo,Japon</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>54 jobs open</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="sideone">
            <h2 style="font-size:20px;">Salary Range</h2>
            <input style="width:50px ; height:35px;padding:10px;float:right;border:1px solid rgb(189, 186, 186);"
                type="text" value="True">
            <span style="margin-top: 45px;font-size: 20px;">$0<p style="margin-left:150px;">$500</p></span>
            <div class="two">
                <div class="f">
                    <div class="ff">
                        <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-4.png">
                    </div>
                    <div class="fff">
                        <h1>Baseball Savings</h1>
                    </div>
                    <div class="fff1">
                        <div class="ffff">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                        </div>
                        <div class="fffff">
                            <p>(85)</p>
                        </div>
                    </div>
                    <div class="g">
                        <div class="gg">
                            <i class='fa-solid fa-location-dot'></i>
                        </div>
                        <div class="ggg">
                            <p>Chicago,US</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>6 jobs open</button>
                    </div>
                </div>
                <div class="f">
                    <div class="ff">
                        <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-5.png">
                    </div>
                    <div class="fff">
                        <h1>Ash ford</h1>
                    </div>
                    <div class="fff1">
                        <div class="ffff">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                        </div>
                        <div class="fffff">
                            <p>(25)</p>
                        </div>
                    </div>
                    <div class="g">
                        <div class="gg">
                            <i class='fa-solid fa-location-dot'></i>
                        </div>
                        <div class="ggg">
                            <p>Toronta,Italia</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>6 7jobs open</button>
                    </div>
                </div>
                <div class="f">
                    <div class="ff">
                        <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-6.png">
                    </div>
                    <div class="fff">
                        <h1>Callaway Golf</h1>
                    </div>
                    <div class="fff1">
                        <div class="ffff">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                        </div>
                        <div class="fffff">
                            <p>(34)</p>
                        </div>
                    </div>
                    <div class="g">
                        <div class="gg">
                            <i class='fa-solid fa-location-dot'></i>
                        </div>
                        <div class="ggg">
                            <p>San Francisco, US</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>45 jobs open</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidetwo">
            <div class="adbd">
                <span><input type="checkbox">
                    <p>All</p>
                    <h6 class="s">145</h6>
                </span>
                <span><input type="checkbox">
                    <p>$0k-20k</p>
                    <h6 class="ss">56</h6>
                </span>
                <span><input type="checkbox">
                    <p>$20k-40k</p>
                    <h6 class="sss">37</h6>
                </span>
                <span><input type="checkbox">
                    <p>$40k-60k</p>
                    <h6 class="ssss">75</h6>
                </span>
                <span><input type="checkbox">
                    <p>$60k-80k</p>
                    <h6 class="sssss">98</h6>
                </span>
                <span><input type="checkbox">
                    <p>$80k-100k</p>
                    <h6 class="ssssss">14</h6>
                </span>
            </div>
            <div class="three">
                <div class="f">
                    <div class="ff">
                        <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-7.png">
                    </div>
                    <div class="fff">
                        <h1>Percepta</h1>
                    </div>
                    <div class="fff1">
                        <div class="ffff">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                        </div>
                        <div class="fffff">
                            <p>(97)</p>
                        </div>
                    </div>
                    <div class="g">
                        <div class="gg">
                            <i class='fa-solid fa-location-dot'></i>
                        </div>
                        <div class="ggg">
                            <p>Chinatown, Singpore</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>64 jobs open</button>
                    </div>
                </div>
                <div class="f">
                    <div class="ff">
                        <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-8.png">
                    </div>
                    <div class="fff">
                        <h1>Exela Movers</h1>
                    </div>
                    <div class="fff1">
                        <div class="ffff">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                        </div>
                        <div class="fffff">
                            <p>(67)</p>
                        </div>
                    </div>
                    <div class="g">
                        <div class="gg">
                            <i class='fa-solid fa-location-dot'></i>
                        </div>
                        <div class="ggg">
                            <p>New York, US</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>87 jobs open</button>
                    </div>
                </div>
                <div class="f">
                    <div class="ff">
                        <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-9.png">
                    </div>
                    <div class="fff">
                        <h1>Ibotta,Inc</h1>
                    </div>
                    <div class="fff1">
                        <div class="ffff">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                        </div>
                        <div class="fffff">
                            <p>(45)</p>
                        </div>
                    </div>
                    <div class="g">
                        <div class="gg">
                            <i class='fa-solid fa-location-dot'></i>
                        </div>
                        <div class="ggg">
                            <p>New York, US</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>23 jobs open</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="sidethree">
            <div class="adbc">
                <h1>Popular Keyword</h1>
                <span><input type="checkbox">
                    <p>Softwares</p>
                    <h6 class="y">24</h6>
                </span>
                <span><input type="checkbox">
                    <p>Developer</p>
                    <h6 class="yy">45</h6>
                </span>
                <span><input type="checkbox">
                    <p>Websitess</p>
                    <h6 class="yyy">57</h6>
                </span>

            </div>
            <div class="fours">
                <div class="f">
                    <div class="ff">
                        <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-1.png">
                    </div>
                    <div class="fff">
                        <h1>Wanderu</h1>
                    </div>
                    <div class="fff1">
                        <div class="ffff">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                        </div>
                        <div class="fffff">
                            <p>(08)</p>
                        </div>
                    </div>
                    <div class="g">
                        <div class="gg">
                            <i class='fa-solid fa-location-dot'></i>
                        </div>
                        <div class="ggg">
                            <p>New York, US</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>45 jobs open</button>
                    </div>
                </div>
                <div class="f">
                    <div class="ff">
                        <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-2.png">
                    </div>
                    <div class="fff">
                        <h1>Aceable,Inc</h1>
                    </div>
                    <div class="fff1">
                        <div class="ffff">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                        </div>
                        <div class="fffff">
                            <p>(54)</p>
                        </div>
                    </div>
                    <div class="g">
                        <div class="gg">
                            <i class='fa-solid fa-location-dot'></i>
                        </div>
                        <div class="ggg">
                            <p>New York, US</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>67 jobs open</button>
                    </div>
                </div>
                <div class="f">
                    <div class="ff">
                        <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-3.png">
                    </div>
                    <div class="fff">
                        <h1>Intrepid Travel</h1>
                    </div>
                    <div class="fff1">
                        <div class="ffff">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                        </div>
                        <div class="fffff">
                            <p>(123)</p>
                        </div>
                    </div>
                    <div class="g">
                        <div class="gg">
                            <i class='fa-solid fa-location-dot'></i>
                        </div>
                        <div class="ggg">
                            <p>New York, US</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>53 jobs open</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidefour">
            <div class="adbe">
                <h1>Position</h1>
                <span><input type="checkbox">
                    <p>Seniour</p>
                    <h6 class="y">12</h6>
                </span>
                <span><input type="checkbox">
                    <p>Juniour</p>
                    <h6 class="yy">25</h6>
                </span>
                <span><input type="checkbox">
                    <p>Fresher</p>
                    <h6 class="yyy">36</h6>
                </span>
            </div>
            <div class="five">
                <div class="f">
                    <div class="ff">
                        <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-4.png">
                    </div>
                    <div class="fff">
                        <h1>Defendify</h1>
                    </div>
                    <div class="fff1">
                        <div class="ffff">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                        </div>
                        <div class="fffff">
                            <p>(64)</p>
                        </div>
                    </div>
                    <div class="g">
                        <div class="gg">
                            <i class='fa-solid fa-location-dot'></i>
                        </div>
                        <div class="ggg">
                            <p>New York, US</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>56 jobs open</button>
                    </div>
                </div>
                <div class="f">
                    <div class="ff">
                        <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-5.png">
                    </div>
                    <div class="fff">
                        <h1>Twisters</h1>
                    </div>
                    <div class="fff1">
                        <div class="ffff">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                        </div>
                        <div class="fffff">
                            <p>(34)</p>
                        </div>
                    </div>
                    <div class="g">
                        <div class="gg">
                            <i class='fa-solid fa-location-dot'></i>
                        </div>
                        <div class="ggg">
                            <p>New York, US</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>66 jobs open</button>
                    </div>
                </div>
                <div class="f">
                    <div class="ff">
                        <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-6.png">
                    </div>
                    <div class="fff">
                        <h1>Fire works</h1>
                    </div>
                    <div class="fff1">
                        <div class="ffff">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                        </div>
                        <div class="fffff">
                            <p>(12)</p>
                        </div>
                    </div>
                    <div class="g">
                        <div class="gg">
                            <i class='fa-solid fa-location-dot'></i>
                        </div>
                        <div class="ggg">
                            <p>New York, US</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>12 jobs open</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidefive">
            <div class="adbf">
                <h1>Experience Level</h1>
                <span><input type="checkbox">
                    <p>Enternship</p>
                    <h6 class="y">12</h6>
                </span>
                <span><input type="checkbox">
                    <p>Entrens</p>
                    <h6 class="yy">25</h6>
                </span>
                <span><input type="checkbox">
                    <p>Associate</p>
                    <h6 class="yyy">36</h6>
                </span>
                <span><input type="checkbox">
                    <p>Midlevelss</p>
                    <h6 class="y">12</h6>
                </span>
                <span><input type="checkbox">
                    <p>Directerss</p>
                    <h6 class="yy">25</h6>
                </span>
                <span><input type="checkbox">
                    <p>Excutivess</p>
                    <h6 class="yyy">36</h6>
                </span>
            </div>

            <div class="six">
                <div class="f">
                    <div class="ff">
                        <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-1.png">
                    </div>
                    <div class="fff">
                        <h1>Car Toys</h1>
                    </div>
                    <div class="fff1">
                        <div class="ffff">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                        </div>
                        <div class="fffff">
                            <p>(66)</p>
                        </div>
                    </div>
                    <div class="g">
                        <div class="gg">
                            <i class='fa-solid fa-location-dot'></i>
                        </div>
                        <div class="ggg">
                            <p>NewYork,Us</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>12 jobs open</button>
                    </div>
                </div>
                <div class="f">
                    <div class="ff">
                        <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-2.png">
                    </div>
                    <div class="fff">
                        <h1>Carols Daughter</h1>
                    </div>
                    <div class="fff1">
                        <div class="ffff">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                        </div>
                        <div class="fffff">
                            <p>(18)</p>
                        </div>
                    </div>
                    <div class="g">
                        <div class="gg">
                            <i class='fa-solid fa-location-dot'></i>
                        </div>
                        <div class="ggg">
                            <p>London,Uk</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>25 jobs open</button>
                    </div>
                </div>
                <div class="f">
                    <div class="ff">
                        <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-3.png">
                    </div>
                    <div class="fff">
                        <h1>Amazon</h1>
                    </div>
                    <div class="fff1">
                        <div class="ffff">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                        </div>
                        <div class="fffff">
                            <p>(52)</p>
                        </div>
                    </div>
                    <div class="g">
                        <div class="gg">
                            <i class='fa-solid fa-location-dot'></i>
                        </div>
                        <div class="ggg">
                            <p>Tokyo,Japon</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>54 jobs open</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidefive">
            <div class="adbg">
                <h1>Onsite/Remote</h1>
                <span><input type="checkbox">
                    <p>On-Site</p>
                    <h6 class="y">12</h6>
                </span>
                <span><input type="checkbox">
                    <p>Remote</p>
                    <h6 class="yy">25</h6>
                </span>
                <span><input type="checkbox">
                    <p>Hybrid</p>
                    <h6 class="yyy">36</h6>
                </span>
            </div>
            <div class="seven">
                <div class="f">
                    <div class="ff">
                        <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-4.png">
                    </div>
                    <div class="fff">
                        <h1>Baseball Savings</h1>
                    </div>
                    <div class="fff1">
                        <div class="ffff">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                        </div>
                        <div class="fffff">
                            <p>(85)</p>
                        </div>
                    </div>
                    <div class="g">
                        <div class="gg">
                            <i class='fa-solid fa-location-dot'></i>
                        </div>
                        <div class="ggg">
                            <p>Chicago,US</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>6 jobs open</button>
                    </div>
                </div>
                <div class="f">
                    <div class="ff">
                        <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-5.png">
                    </div>
                    <div class="fff">
                        <h1>Ash ford</h1>
                    </div>
                    <div class="fff1">
                        <div class="ffff">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                        </div>
                        <div class="fffff">
                            <p>(25)</p>
                        </div>
                    </div>
                    <div class="g">
                        <div class="gg">
                            <i class='fa-solid fa-location-dot'></i>
                        </div>
                        <div class="ggg">
                            <p>Toronta,Italia</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>6 7jobs open</button>
                    </div>
                </div>
                <div class="f">
                    <div class="ff">
                        <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-6.png">
                    </div>
                    <div class="fff">
                        <h1>Callaway Golf</h1>
                    </div>
                    <div class="fff1">
                        <div class="ffff">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                        </div>
                        <div class="fffff">
                            <p>(34)</p>
                        </div>
                    </div>
                    <div class="g">
                        <div class="gg">
                            <i class='fa-solid fa-location-dot'></i>
                        </div>
                        <div class="ggg">
                            <p>San Francisco, US</p>
                        </div>
                    </div>
                    <div class="btn">
                        <button>45 jobs open</button>
                    </div>
                </div>
            </div>
        </div>



        <div class="adbs">
            <h1>Job Posted</h1>
            <span><input type="checkbox">
                <p>Full Time</p>
                <h6 class="y">25</h6>
            </span>
            <span><input type="checkbox">
                <p>Part Time</p>
                <h6 class="yy">64</h6>
            </span>
            <span><input type="checkbox">
                <p>Remote</p>
                <h6 class="yyy">78</h6>
            </span>
            <span><input type="checkbox">
                <p>Freelancer</p>
                <h6 class="yyy">97</h6>
            </span>
        </div>



        <div class="adbh">
            <h1>Job Type</h1>
            <span><input type="checkbox">
                <p>All</p>
                <h6 class="y">78</h6>
            </span>
            <span><input type="checkbox">
                <p>1day</p>
                <h6 class="yy">65</h6>
            </span>
            <span><input type="checkbox">
                <p>7days</p>
                <h6 class="yyy">24</h6>
            </span>
            <span><input type="checkbox">
                <p>30days</p>
                <h6 class="yyy">56</h6>
            </span>
        </div>

        <div class="list">
            <ul>
                <li><i class="fa-solid fa-angle-left"></i><a class="pager-prev" href="#"></a></li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li><strong style="color: black;">6</strong></li>
                <li>7</li>
                <li><i class="fa-solid fa-angle-right"></i><a class="pager-prev" href="#"></a></li>
            </ul>
        </div>
        <div class="head">
        <h1>News and Blog</h1>
        <p>Get the latest news, updates and tips</p>
    </div>
        <div class="flex9">
            
            <div class="brdrr">
                <div class="flex7">
                    <div class="brdr">
                        <div class="iag">

                        </div>
                        <p class="ws">News</p>
                        <h4 class="tt">39 Strengths and Weeknecess<br>To Discuss in ajob Interview</h4>
                        <p class="para">our mission is to create the world&rsquo;s most<br>
                            sustainablehealthcare companyby craeating high quality<br>
                            healthcare products in iconic,sustainable pakaging </p>
                        <div class="flex8">
                            <div>
                                <img class="round"
                                    src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/user1.png">
                            </div>
                            <div>
                                <p class="sh">sarah harding</p>
                                <p class="se">06 september</p>
                            </div>
                        </div>

                        <div>
                            <p class="re">8 mis to read</p>
                        </div>





                    </div>

                </div>
            </div>

            <div class="brdrr">
                <div class="flex7">
                    <div class="brdr">
                        <div class="iag1">

                        </div>
                        <p class="ws">News</p>
                        <h4 class="tt">Interview Question:Why You Dont Have Any Degree?</h4>
                        <p class="para">our mission is to create the world&rsquo;s most<br>
                            sustainablehealthcare companyby craeating high quality<br>
                            healthcare products in iconic,sustainable pakaging </p>
                        <div class="flex8">
                            <div>
                                <img class="round"
                                    src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/user1.png">
                            </div>
                            <div>
                                <p class="sh">steven jobs</p>
                                <p class="se">06 september</p>
                            </div>
                        </div>

                        <div>
                            <p class="re">6 mis to read</p>
                        </div>



                    </div>

                </div>
            </div>

            <div class="brdrr">
                <div class="flex7">
                    <div class="brdr">
                        <div class="iag2">

                        </div>
                        <p class="ws">News</p>
                        <h4 class="tt">21 job Tnterview Tips:how to Make <br>Great Impression</h4>
                        <p class="para">our mission is to create the world&rsquo;s most<br>
                            sustainablehealthcare companyby craeating high quality<br>
                            healthcare products in iconic,sustainable pakaging </p>
                        <div class="flex8">
                            <div>
                                <img class="round"
                                    src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/user1.png">
                            </div>
                            <div>
                                <p class="sh">William kend</p>
                                <p class="se">06 september</p>
                            </div>
                        </div>

                        <div>
                            <p class="re">9 mis to read</p>
                        </div>





                    </div>

                </div>
            </div>
        </div>

<div class="butt">
    
    <button id="subscribes">
        <img src="https://tse2.mm.bing.net/th?id=OIP.opnwt4cG87Ncqmu8y4MzGgHaHa&pid=Api&P=0">
        Load More Posts</button>
</div>


        <section class="container2">
            <div class="boxnews">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/newsletter-left.png">
                <h1 id="update">New Things Will Always Update Regularly</h1>
                <img id="email-icon" src="https://cdn.iconscout.com/icon/free/png-128/email-2026367-1713640.png">
                <input id="email" type="Email" placeholder="Enter yours email here">
                <button id="subscribe">subscribe</button>
                <img id="newsletter-left"
                    src="https://jobbox-nextjs.vercel.app/assets/imgs/template/newsletter-right.png" alt="">
            </div>
        </section>
    </section>
</section>
