<div class="container">

    <div class="myjob">
        <h1>
            Saved Jobs
        </h1>
        <div class="grid">
            <div class="flex4">
                <div class="ln">
                    <img src="	https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-1.png">
                    <div>
                        <h6 class="lin">LINKEDIN</h6>
                        <mat-icon class="place"> place</mat-icon>
                        <span class="new" id="newyork">NewYork,Us</span>
                        <img class="flash"
                            src="	https://jobbox-nextjs.vercel.app/_next/static/media/flash.b59af78f.svg">
                    </div>
                </div>

                <h5 id="uiux">UI / UX Designer fulltime</h5>
                <div class="fulltime">
                    <mat-icon class="card1">card_travel</mat-icon>
                    <h6 class="time">Fulltime</h6>
                    <mat-icon class="card">alarm_on</mat-icon>
                    <h6 class="time">4 mins ago</h6>
                </div>
                <p class="lorem">Lorem ipsum dolor sit amet, consectetur <br>
                    adipisicing elit. Recusandae architecto<br>
                    eveniet, dolor quo repellendus pariatur</p>

                <div class="afp">
                    <p>Adobe HD</p>
                    <p>Figma</p>
                    <p>PhotoShop</p>
                </div>

                <div class="hours1">
                    <span id="rupees">$800</span>
                    <span id="hours">/Hours</span>
                    <button mat-flat-button color="primary">Apply Now</button>
                </div>



            </div>
            <div class="flex4">
                <div class="ln">
                    <img src="	https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-6.png">
                    <div>
                        <h6 class="lin">LINKEDIN</h6>
                        <mat-icon class="place"> place</mat-icon>
                        <span class="new" id="newyork">NewYork,Us</span>
                        <img class="flash"
                            src="	https://jobbox-nextjs.vercel.app/_next/static/media/flash.b59af78f.svg">
                    </div>
                </div>

                <h5 id="uiux">UI / UX Designer fulltime</h5>
                <div class="fulltime">
                    <mat-icon class="card1">card_travel</mat-icon>
                    <h6 class="time">Fulltime</h6>
                    <mat-icon class="card">alarm_on</mat-icon>
                    <h6 class="time">4 mins ago</h6>
                </div>
                <p class="lorem">Lorem ipsum dolor sit amet, consectetur <br>
                    adipisicing elit. Recusandae architecto<br>
                    eveniet, dolor quo repellendus pariatur</p>

                <div class="afp">
                    <p>Adobe HD</p>
                    <p>Figma</p>
                    <p>PhotoShop</p>
                </div>

                <div class="hours1">
                    <span id="rupees">$800</span>
                    <span id="hours">/Hours</span>
                    <button mat-flat-button color="primary">Apply Now</button>
                </div>



            </div>
            <div class="flex4">
                <div class="ln">
                    <img src="	https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-2.png">
                    <div>
                        <h6 class="lin">LINKEDIN</h6>
                        <mat-icon class="place"> place</mat-icon>
                        <span class="new" id="newyork">NewYork,Us</span>
                        <img class="flash"
                            src="	https://jobbox-nextjs.vercel.app/_next/static/media/flash.b59af78f.svg">
                    </div>
                </div>

                <h5 id="uiux">UI / UX Designer fulltime</h5>
                <div class="fulltime">
                    <mat-icon class="card1">card_travel</mat-icon>
                    <h6 class="time">Fulltime</h6>
                    <mat-icon class="card">alarm_on</mat-icon>
                    <h6 class="time">4 mins ago</h6>
                </div>
                <p class="lorem">Lorem ipsum dolor sit amet, consectetur <br>
                    adipisicing elit. Recusandae architecto<br>
                    eveniet, dolor quo repellendus pariatur</p>

                <div class="afp">
                    <p>Adobe HD</p>
                    <p>Figma</p>
                    <p>PhotoShop</p>
                </div>

                <div class="hours1">
                    <span id="rupees">$800</span>
                    <span id="hours">/Hours</span>
                    <button mat-flat-button color="primary">Apply Now</button>
                </div>



            </div>
            <div class="flex4">
                <div class="ln">
                    <img src="	https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-4.png">
                    <div>
                        <h6 class="lin">LINKEDIN</h6>
                        <mat-icon class="place"> place</mat-icon>
                        <span class="new" id="newyork">NewYork,Us</span>
                        <img class="flash"
                            src="	https://jobbox-nextjs.vercel.app/_next/static/media/flash.b59af78f.svg">
                    </div>
                </div>

                <h5 id="uiux">UI / UX Designer fulltime</h5>
                <div class="fulltime">
                    <mat-icon class="card1">card_travel</mat-icon>
                    <h6 class="time">Fulltime</h6>
                    <mat-icon class="card">alarm_on</mat-icon>
                    <h6 class="time">4 mins ago</h6>
                </div>
                <p class="lorem">Lorem ipsum dolor sit amet, consectetur <br>
                    adipisicing elit. Recusandae architecto<br>
                    eveniet, dolor quo repellendus pariatur</p>

                <div class="afp">
                    <p>Adobe HD</p>
                    <p>Figma</p>
                    <p>PhotoShop</p>
                </div>

                <div class="hours1">
                    <span id="rupees">$800</span>
                    <span id="hours">/Hours</span>
                    <button mat-flat-button color="primary">Apply Now</button>
                </div>



            </div>
            <div class="flex4">
                <div class="ln">
                    <img src="	https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-8.png">
                    <div>
                        <h6 class="lin">LINKEDIN</h6>
                        <mat-icon class="place"> place</mat-icon>
                        <span class="new" id="newyork">NewYork,Us</span>
                        <img class="flash"
                            src="	https://jobbox-nextjs.vercel.app/_next/static/media/flash.b59af78f.svg">
                    </div>
                </div>

                <h5 id="uiux">UI / UX Designer fulltime</h5>
                <div class="fulltime">
                    <mat-icon class="card1">card_travel</mat-icon>
                    <h6 class="time">Fulltime</h6>
                    <mat-icon class="card">alarm_on</mat-icon>
                    <h6 class="time">4 mins ago</h6>
                </div>
                <p class="lorem">Lorem ipsum dolor sit amet, consectetur <br>
                    adipisicing elit. Recusandae architecto<br>
                    eveniet, dolor quo repellendus pariatur</p>

                <div class="afp">
                    <p>Adobe HD</p>
                    <p>Figma</p>
                    <p>PhotoShop</p>
                </div>

                <div class="hours1">
                    <span id="rupees">$800</span>
                    <span id="hours">/Hours</span>
                    <button mat-flat-button color="primary">Apply Now</button>
                </div>



            </div>
            <div class="flex4">
                <div class="ln">
                    <img src="	https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-7.png">
                    <div>
                        <h6 class="lin">LINKEDIN</h6>
                        <mat-icon class="place"> place</mat-icon>
                        <span class="new" id="newyork">NewYork,Us</span>
                        <img class="flash"
                            src="	https://jobbox-nextjs.vercel.app/_next/static/media/flash.b59af78f.svg">
                    </div>
                </div>

                <h5 id="uiux">UI / UX Designer fulltime</h5>
                <div class="fulltime">
                    <mat-icon class="card1">card_travel</mat-icon>
                    <h6 class="time">Fulltime</h6>
                    <mat-icon class="card">alarm_on</mat-icon>
                    <h6 class="time">4 mins ago</h6>
                </div>
                <p class="lorem">Lorem ipsum dolor sit amet, consectetur <br>
                    adipisicing elit. Recusandae architecto<br>
                    eveniet, dolor quo repellendus pariatur</p>

                <div class="afp">
                    <p>Adobe HD</p>
                    <p>Figma</p>
                    <p>PhotoShop</p>
                </div>

                <div class="hours1">
                    <span id="rupees">$800</span>
                    <span id="hours">/Hours</span>
                    <button mat-flat-button color="primary">Apply Now</button>
                </div>



            </div>
            <div class="flex4">
                <div class="ln">
                    <img src="	https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-1.png">
                    <div>
                        <h6 class="lin">LINKEDIN</h6>
                        <mat-icon class="place"> place</mat-icon>
                        <span class="new" id="newyork">NewYork,Us</span>
                        <img class="flash"
                            src="	https://jobbox-nextjs.vercel.app/_next/static/media/flash.b59af78f.svg">
                    </div>
                </div>

                <h5 id="uiux">UI / UX Designer fulltime</h5>
                <div class="fulltime">
                    <mat-icon class="card1">card_travel</mat-icon>
                    <h6 class="time">Fulltime</h6>
                    <mat-icon class="card">alarm_on</mat-icon>
                    <h6 class="time">4 mins ago</h6>
                </div>
                <p class="lorem">Lorem ipsum dolor sit amet, consectetur <br>
                    adipisicing elit. Recusandae architecto<br>
                    eveniet, dolor quo repellendus pariatur</p>

                <div class="afp">
                    <p>Adobe HD</p>
                    <p>Figma</p>
                    <p>PhotoShop</p>
                </div>

                <div class="hours1">
                    <span id="rupees">$800</span>
                    <span id="hours">/Hours</span>
                    <button mat-flat-button color="primary">Apply Now</button>
                </div>



            </div>
            <div class="flex4">
                <div class="ln">
                    <img src="	https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-7.png">
                    <div>
                        <h6 class="lin">LINKEDIN</h6>
                        <mat-icon class="place"> place</mat-icon>
                        <span class="new" id="newyork">NewYork,Us</span>
                        <img class="flash"
                            src="	https://jobbox-nextjs.vercel.app/_next/static/media/flash.b59af78f.svg">
                    </div>
                </div>

                <h5 id="uiux">UI / UX Designer fulltime</h5>
                <div class="fulltime">
                    <mat-icon class="card1">card_travel</mat-icon>
                    <h6 class="time">Fulltime</h6>
                    <mat-icon class="card">alarm_on</mat-icon>
                    <h6 class="time">4 mins ago</h6>
                </div>
                <p class="lorem">Lorem ipsum dolor sit amet, consectetur <br>
                    adipisicing elit. Recusandae architecto<br>
                    eveniet, dolor quo repellendus pariatur</p>

                <div class="afp">
                    <p>Adobe HD</p>
                    <p>Figma</p>
                    <p>PhotoShop</p>
                </div>

                <div class="hours1">
                    <span id="rupees">$800</span>
                    <span id="hours">/Hours</span>
                    <button mat-flat-button color="primary">Apply Now</button>
                </div>
            </div>
            <div class="flex4">
                <div class="ln">
                    <img src="	https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-4.png">
                    <div>
                        <h6 class="lin">LINKEDIN</h6>
                        <mat-icon class="place"> place</mat-icon>
                        <span class="new" id="newyork">NewYork,Us</span>
                        <img class="flash"
                            src="	https://jobbox-nextjs.vercel.app/_next/static/media/flash.b59af78f.svg">
                    </div>
                </div>

                <h5 id="uiux">UI / UX Designer fulltime</h5>
                <div class="fulltime">
                    <mat-icon class="card1">card_travel</mat-icon>
                    <h6 class="time">Fulltime</h6>
                    <mat-icon class="card">alarm_on</mat-icon>
                    <h6 class="time">4 mins ago</h6>
                </div>
                <p class="lorem">Lorem ipsum dolor sit amet, consectetur <br>
                    adipisicing elit. Recusandae architecto<br>
                    eveniet, dolor quo repellendus pariatur</p>

                <div class="afp">
                    <p>Adobe HD</p>
                    <p>Figma</p>
                    <p>PhotoShop</p>
                </div>

                <div class="hours1">
                    <span id="rupees">$800</span>
                    <span id="hours">/Hours</span>
                    <button mat-flat-button color="primary">Apply Now</button>
                </div>



            </div>
        </div>
        <div class="list">
            <ul>
                <li><i class="fa-solid fa-angle-left"></i><a class="pager-prev" href="#"></a></li>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li><strong style="color: black;">6</strong></li>
                <li>7</li>
                <li><i class="fa-solid fa-angle-right"></i><a class="pager-prev" href="#"></a></li>
            </ul>
        </div>
    </div>
</div>