.container {
    width: 100%;
    margin-left:174px;
    margin-top: 34px;
    display: grid;

}

.myjob h1 {
    color: #05264e;
    font-weight: 500;
    margin-bottom: 20px;
    margin-left: 34px;
}

.myjob {
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.flex4 {
    border: 1px solid lightgrey;
    width: 339px;
    margin-top: 24px;
    padding-left: 16px;
    padding-top: 17px;
    height: 364px;
    border-radius: 5px;
    margin-left: 37px;
    background-color: #eff3fc;
}

.flash {
    margin-left: 189px;
    margin-top: -105px;
}

.ln {
    display: flex;
}

.new {
    margin-left: 10px;
    margin-top: -9px;
}

#newyork {
    position: relative;
    bottom: 12px;
    right: 1px;
    font-size: 12px;
    color: #a0abb8;
}

#uiux {

    color: #05264e;
    font-size: 16px;
    font-weight: 600;
}

.lin {
    font-size: 18px;
    line-height: 26px;
    color: #05264e;
    font-weight: 700;
    display: block;
    margin-left: 20px;


}

.place {

    position: relative;
    bottom: 10px;
    right: -15px;
    font-size: 12px;
    color: #a0abb8;
}

.ln img {
    width: 64px;
    height: 55px;
}

.fulltime {
    display: flex;
    margin-left: 20px;
}

.card1 {

    font-size: 1px;
    border: none;
    color: #a0abb8;
    margin-left: -22px;
}

.card {

    font-size: 1px;
    border: none;
    color: #a0abb8;
    margin-left: 27px;
}

.time {
    font-size: 12px;
    color: #a0abb8;
    margin-top: -2px;
}

.lorem {

    width: 308px;
    color: #4f5e64;
    font-size: 17px;
}

.afp {
    display: flex;

}

.afp p {
    margin-left: 17px;
    font-size: 14px;
    background-color: #b4c0e0;
}

#rupees {
    color: #3c65f5;
    font-family: Plus Jakarta Sans, sans-serif;
    font-weight: 700;
    font-size: 22px;
    margin-left: 20px;
}

#hours {
    font-family: Plus Jakarta Sans, sans-serif;

    font-size: 20px;
    color: #6c757d
}

.hours1 button {
    margin-left: 195px;
    margin-top: 5px;
    width: 123px;
    height: 42px;
    background-color: #e0e6f7;
    color: #3c65f5;
}

.hours1 {
    margin-top: 20px;
    margin-left: -23px;
}

.hours1 button:hover {
    transition: .2s;
    background-color: #3c65f5;
    color: #e0e6f7;
}
.aa button{
    display: flex;
    width: 100%;
    margin-left: -88px;
    background-color: white;
    border-radius: 6px;
    border: 0.1em solid skyblue;
    
}
.b{
    height: 30px;
    padding-top: 10px;
    background-color: rgb(223, 223, 233);
    color: rgb(146, 146, 238);
    border-radius: 50%;
}
.aa h5{
    width: 100%;
    font-size: 15px;
    height: 30px;
    padding-top: 10px;
}
.aa button :hover{
    background-color: rgb(223, 223, 233);
    cursor: pointer;
    border-radius: 50%;
    color: rgb(146, 146, 238);
}
.bbb{
    display: flex;
    margin-top: 27px;
    margin-left: -15px;
    
}
.bbb h1{
    margin-top: 1px;
    font-size: 16px;
    
}

.bb{
    display: flex;
    border-bottom: 1px solid rgb(230, 222, 222);
    width: 21%;
    margin-left: 86px;
}
.bb p{
    margin-left: 40px;
    font-size: 22px;
   
}
.list {
    text-align: center;
    margin: auto;
    margin-left:-40px;
    margin-top: 50px;

    ul {
        list-style-type: none;
        display: flex;

        li {
            padding: 1px 8px;
            font-size: 16px;
            font-weight: 900;
            color: #b3b5b8;

            // padding-top: 10px;
            i {
                background-color: #b3b5b8;
                height: 40px;
                width: 40px;
                border-radius: 50%;
                padding: 10px;
                position: relative;
                bottom: 10px;
                color: #3c65f5;
            }
        }
    }
}