<section class="main">
    <section class="container">
        <div class="main">
            <h3 class="main1"><span class="mainspan">22 Jobs
                    <!-- ::after -->
                </span>
                Available Now
                <!-- <div class="box"></div> -->
            </h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero repellendus magni,</p>
            <p> atque delectus molestias quis?</p>
        </div>
        <div class="form-find text-start mt-40 wow animate__animated animate__fadeInUp" data-wow-delay=".2s">
            <form>
                <div class="box-industry">
                    <i class="fa-solid fa-briefcase"></i><select class="form-input mr-10 select-active input-industry"
                        id="sele">
                        <option value="0">Industry</option>
                        <option value="1">Software</option>
                        <option value="2">Finance</option>
                        <option value="3">Recruting</option>
                        <option value="4">Management</option>
                        <option value="5">Advertising</option>
                        <option value="6">Development</option>
                    </select>
                </div>
                <div class="box-industry">
                    <i class="fa-solid fa-location-dot"></i><select
                        class="form-input mr-10 select-active input-location" id="sele">
                        <option value="true">Location</option>
                        <option value="0">Afghanistan</option>
                        <option value="1">Algeria</option>
                        <option value="2">Argentina</option>
                        <option value="3">America</option>
                        <option value="4">Australia</option>
                        <option value="5">Bangladesh</option>
                        <option value="6">Belarus</option>
                        <option value="7">Belgium</option>
                        <option value="8">Bhutan</option>
                        <option value="9">Camaroon</option>
                        <option value="10">China</option>
                        <option value="11">Chile</option>
                        <option value="12">Denmark</option>
                        <option value="13">Dominica</option>
                        <option value="14">Egypt</option>
                        <option value="15">Eritrea</option>
                        <option value="16">Finland</option>
                        <option value="17">France</option>
                        <option value="18">Gambia</option>
                        <option value="19">Germany</option>
                        <option value="20">Hong Kong</option>
                        <option value="21">Iceland</option>
                        <option value="22">India</option>
                        <option value="23">Kenya</option>
                        <option value="24">Namibia</option>
                        <option value="25">Netherland</option>
                        <option value="26">Zimbabwe</option>
                    </select>
                    <i class="fa-solid fa-grip-dots"></i><input class="in" type="text" placeholder="Your Answers">
                </div>
                <div class="you">
                </div>
                <div class="you1">
                    <button class="searchbtn"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
                </div>
            </form>
        </div>
        <div class="img1"><img src="https://jobbox-nextjs.vercel.app/_next/static/media/left-job-head.c1f76229.svg">
        </div>
        <div class="img"><img src="https://jobbox-nextjs.vercel.app/_next/static/media/right-job-head.92312fda.svg">
        </div>
    </section>
    <section class="container1">
        <div class="advance">
            <div class="ad">
                <h4>Advance Filter</h4>
                <button>Reset</button>
            </div>
            <div class="ad1">
                <p>Showing <strong style="color: black;">41-60</strong>of<strong style="color: black;">944</strong>jobs
                </p>
                <div class="ad3">
                    <button>show:<strong style="color: black;">12</strong><i
                            class="fa-solid fa-angle-down"></i></button>
                    <button>sort by:<strong style="color: black;">Newestpost</strong><i
                            class="fa-solid fa-angle-down"></i></button>
                </div>
                <div class="ad2">
                    <a class="view-type" href="/jobs-list"><img class="img1"
                            src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/icon-list.svg"
                            alt="jobBox">
                    </a>
                    <a class="view-type" href="/jobs-grid"><img class="img1"
                            src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/icon-grid-hover.svg"
                            alt="jobBox">
                    </a>
                </div>
            </div>
        </div>
        <div class=""></div>
        <div class="ada">
            <i class="fa-solid fa-location-dot"></i>
            <select>
                <option>New York,US</option>
                <option>London</option>
                <option>Paris</option>
                <option>Berlin</option>
            </select>
        </div>
        <div class="abb">
            <div class="adb">
                <h2>Industry</h2>
                <span><input type="checkbox">
                    <p>All</p>
                    <h6 class="a">180</h6>
                </span>
                <span><input type="checkbox">
                    <p>Software</p>
                    <h6 class="aa">12</h6>
                </span>
                <span><input type="checkbox">
                    <p>Finance</p>
                    <h6 class="aaa">23</h6>
                </span>
                <span><input type="checkbox">
                    <p>Recruting</p>
                    <h6 class="aaaa">43</h6>
                </span>
                <span><input type="checkbox">
                    <p>Management</p>
                    <h6 class="abaa">65</h6>
                </span>
                <span><input type="checkbox">
                    <p>Advertising</p>
                    <h6 class="abba">76</h6>
                </span>
            </div>
            <div class="acc">
                <div class="box3">
                    <div class="aaimg">
                        <span class="flash"></span>
                        <div class="aimg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-1.png">
                        </div>
                        <div class="right">
                            <a class="name-job" href="/company-details"
                                style="color: black; text-decoration:none; font-size:20px; font-weight:600;">LinkedIn</a>
                            <p class="pright"><i style="margin-right: 5px;" class="fa-solid fa-location-dot"></i>New
                                York,
                                US</p>
                        </div>
                    </div>
                    <h2>UI / UX Designer fulltime</h2>
                    <span style="display: flex; color: gray ; margin-left: 20px;">
                        <h5 style="margin-right: 10px;"><i style="margin-right: 10px;"
                                class="fa-solid fa-briefcase"></i>Full Time</h5>
                        <p><i style="margin-right: 5px;" class="fa-solid fa-clock"></i>4 minutes ago</p>
                    </span>
                    <p style="width: 90%; margin:10px; margin-left:20px;">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Recusandae architecto eveniet, dolor quo
                        repellendus pariatur</p>
                    <div class="btn3">
                        <a class="btn1" href="/jobs-grid">Adobe XD</a>
                        <a style="margin-right: 120px;padding-left: 10px;" class="btn1" href="/jobs-grid">Figma</a>
                        <a class="btn1" href="/jobs-grid">Photoshop</a>
                    </div>
                    <div class="btn2">
                        <span style="color: blue; font-size:20px;font-weight:600;">$500</span>
                        <span style="font-size: 16px; color:grey;">/Hour</span>
                        <button class="applybtn" style="float: right;background-color:lightgrey;border:none;">Apply
                            Now</button>
                    </div>
                </div>
                <div class="box2">
                    <div class="aaimg">
                        <span class="flash"></span>
                        <div class="aimg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-2.png">
                        </div>
                        <div class="right">
                            <a class="name-job" href="/company-details"
                                style="color: black; text-decoration:none; font-size:20px; font-weight:600;">
                                Adobe Ilustrator</a>
                            <p class="pright"><i style="margin-right: 5px;" class="fa-solid fa-location-dot"></i>New
                                York,
                                US</p>
                        </div>
                    </div>
                    <h2>Full Stack Engineer</h2>
                    <span style="display: flex; color: gray ; margin-left: 20px;">
                        <h5 style="margin-right: 10px;"><i style="margin-right: 10px;"
                                class="fa-solid fa-briefcase"></i>Part Time</h5>
                        <p><i style="margin-right: 5px;" class="fa-solid fa-clock"></i>5 minutes ago</p>
                    </span>
                    <p style="width: 90%; margin:10px; margin-left:20px;">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Recusandae architecto eveniet, dolor quo
                        repellendus pariatur</p>
                    <div class="btn3">
                        <a class="btn1" style="padding-left:10px ;" href="/jobs-grid">React</a>
                        <a style="margin-right: 120px; padding-left: 10px;" class="btn1" href="/jobs-grid">Node Js</a>
                        <!-- <a class="btn1" href="/jobs-grid">Photoshop</a> -->
                    </div>
                    <div class="btn2">
                        <span style="color: blue; font-size:20px;font-weight:600;">$800</span>
                        <span style="font-size: 16px; color:grey;">/Hour</span>
                        <button class="applybtn" style="float: right;background-color:lightgrey;border:none;">Apply
                            Now</button>
                    </div>
                </div>
                <div class="box1">
                    <div class="aaimg">
                        <span class="flash"></span>
                        <div class="aimg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-2.png">
                        </div>
                        <div class="right">
                            <a class="name-job" href="/company-details"
                                style="color: black; text-decoration:none; font-size:20px; font-weight:600;">
                                Bing Search</a>
                            <p class="pright"><i style="margin-right: 5px;" class="fa-solid fa-location-dot"></i>New
                                York,
                                US</p>
                        </div>
                    </div>
                    <h2>Java Software Engineer</h2>
                    <span style="display: flex; color: gray ; margin-left: 20px;">
                        <h5 style="margin-right: 10px;"><i style="margin-right: 10px;"
                                class="fa-solid fa-briefcase"></i>Full Time</h5>
                        <p><i style="margin-right: 5px;" class="fa-solid fa-clock"></i>6 minutes ago</p>
                    </span>
                    <p style="width: 90%; margin:10px; margin-left:20px;">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Recusandae architecto eveniet, dolor quo
                        repellendus pariatur</p>
                    <div class="btn3">
                        <a class="btn1" style="padding-left:10px ;" href="/jobs-grid">Python</a>
                        <a style="padding-left: 15px;" class="btn1" href="/jobs-grid">AWS</a>
                        <a class="btn1" href="/jobs-grid">Photoshop</a>
                    </div>
                    <div class="btn2">
                        <span style="color: blue; font-size:20px;font-weight:600;">$250</span>
                        <span style="font-size: 16px; color:grey;">/Hour</span>
                        <button class="applybtn" style="float: right;background-color:lightgrey;border:none;">Apply
                            Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="container2">
        <div class="abb">
            <div class="adb">
                <h2 style="font-size:20px;">Salary Range</h2>
                <input style="width:50px ; height:35px;padding:10px;float:right;border:1px solid rgb(189, 186, 186);"
                    type="text" value="True">
                <span style="margin-top: 45px;font-size: 20px;">$0<p style="margin-left:150px;">$500</p></span>
                <span style="border-top:1px solid gray ; padding-top:10px"><input type="checkbox">
                    <p>All</p>
                    <h6 class="a">145</h6>
                </span>
                <span><input type="checkbox">
                    <p>$0k-$20k</p>
                    <h6 class="a1">56</h6>
                </span>
                <span><input type="checkbox">
                    <p>$20k-$40k</p>
                    <h6 class="aa1">37</h6>
                </span>
                <span><input type="checkbox">
                    <p>$40k-$60k</p>
                    <h6 class="aaa1">75</h6>
                </span>
                <span><input type="checkbox">
                    <p>$60k-$80k</p>
                    <h6 class="aaaa1">98</h6>
                </span>
                <span><input type="checkbox">
                    <p>$80k-$100k</p>
                    <h6 class="aba1">14</h6>
                </span>
                <span><input type="checkbox">
                    <p>$100k-$200k</p>
                    <h6 class="abc1">25</h6>
                </span>


            </div>
            <div class="acc">
                <div class="box2">
                    <div class="aaimg">
                        <span class="flash"></span>
                        <div class="aimg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-4.png">
                        </div>
                        <div class="right">
                            <a class="name-job" href="/company-details"
                                style="color: black; text-decoration:none; font-size:20px; font-weight:600;">
                                Dailymotion</a>
                            <p class="pright"><i style="margin-right: 5px;" class="fa-solid fa-location-dot"></i>New
                                York,
                                US</p>
                        </div>
                    </div>
                    <h2>Frontend Developer</h2>
                    <span style="display: flex; color: gray ; margin-left: 20px;">
                        <h5 style="margin-right: 10px;"><i style="margin-right: 10px;"
                                class="fa-solid fa-briefcase"></i>Full Time</h5>
                        <p><i style="margin-right: 5px;" class="fa-solid fa-clock"></i>6 minutes ago</p>
                    </span>
                    <p style="width: 90%; margin:10px; margin-left:20px;">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Recusandae architecto eveniet, dolor quo
                        repellendus pariatur</p>
                    <div class="btn3">
                        <a class="btn1" style="padding-left:3px ;" href="/jobs-grid">Typescript</a>
                        <a style="margin-right: 120px; padding-left:15px;" class="btn1" href="/jobs-grid">Java</a>
                        <!-- <a class="btn1" href="/jobs-grid">Photoshop</a> -->
                    </div>
                    <div class="btn2">
                        <span style="color: blue; font-size:20px;font-weight:600;">$250</span>
                        <span style="font-size: 16px; color:grey;">/Hour</span>
                        <button class="applybtn" style="float: right;background-color:lightgrey;border:none;">Apply
                            Now</button>
                    </div>
                </div>
                <div class="box3">
                    <div class="aaimg">
                        <span class="flash"></span>
                        <div class="aimg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-5.png">
                        </div>
                        <div class="right">
                            <a class="name-job" href="/company-details"
                                style="color: black; text-decoration:none; font-size:20px; font-weight:600;">LinkedIn</a>
                            <p class="pright"><i style="margin-right: 5px;" class="fa-solid fa-location-dot"></i>New
                                York,
                                US</p>
                        </div>
                    </div>
                    <h2>React Native Web<br> Developer</h2>
                    <span style="display: flex; color: gray ; margin-left: 20px;">
                        <h5 style="margin-right: 10px;"><i style="margin-right: 10px;"
                                class="fa-solid fa-briefcase"></i>Full Time</h5>
                        <p><i style="margin-right: 5px;" class="fa-solid fa-clock"></i>4 minutes ago</p>
                    </span>
                    <p style="width: 90%; margin:10px; margin-left:20px;">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Recusandae architecto eveniet, dolor quo
                        repellendus pariatur</p>
                    <div class="btn3">
                        <a class="btn1" href="/jobs-grid" style="padding-left:10px ;">Angular</a>
                        <!-- <a style="margin-right: 120px;padding-left: 10px;" class="btn1" href="/jobs-grid">Figma</a> -->
                        <!-- <a class="btn1" href="/jobs-grid">Photoshop</a> -->
                    </div>
                    <div class="btn2">
                        <span style="color: blue; font-size:20px;font-weight:600;">$500</span>
                        <span style="font-size: 16px; color:grey;">/Hour</span>
                        <button class="applybtn" style="float: right;background-color:lightgrey;border:none;">Apply
                            Now</button>
                    </div>
                </div>

                <div class="box1">
                    <div class="aaimg">
                        <span class="flash"></span>
                        <div class="aimg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-6.png">
                        </div>
                        <div class="right">
                            <a class="name-job" href="/company-details"
                                style="color: black; text-decoration:none; font-size:20px; font-weight:600;">
                                Quora JSC</a>
                            <p class="pright"><i style="margin-right: 5px;" class="fa-solid fa-location-dot"></i>New
                                York,
                                US</p>
                        </div>
                    </div>
                    <h2>Senior System Engineer</h2>
                    <span style="display: flex; color: gray ; margin-left: 20px;">
                        <h5 style="margin-right: 10px;"><i style="margin-right: 10px;"
                                class="fa-solid fa-briefcase"></i>Part Time</h5>
                        <p><i style="margin-right: 5px;" class="fa-solid fa-clock"></i>5 minutes ago</p>
                    </span>
                    <p style="width: 90%; margin:10px; margin-left:20px;">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Recusandae architecto eveniet, dolor quo
                        repellendus pariatur</p>
                    <div class="btn3">
                        <a class="btn1" style="padding-left:20px ;" href="/jobs-grid">PHP</a>
                        <a style="padding-left: 10px;" class="btn1" href="/jobs-grid">Android</a>
                        <!-- <a class="btn1" href="/jobs-grid">Photoshop</a> -->
                    </div>
                    <div class="btn2">
                        <span style="color: blue; font-size:20px;font-weight:600;">$800</span>
                        <span style="font-size: 16px; color:grey;">/Hour</span>
                        <button class="applybtn" style="float: right;background-color:lightgrey;border:none;">Apply
                            Now</button>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="container3">
        <div class="scc">
            <div class="qwe">
                <h3 style="font-size: 20px; font-weight:500;padding-top: 20px;">Popular Keyword</h3>
                <span><input type="checkbox">
                    <p>Software</p>
                    <h6 class="aaaa2">98</h6>
                </span>
                <span><input type="checkbox">
                    <p>Developer</p>
                    <h6 class="aba2">14</h6>
                </span>
                <span style="margin-bottom: 10px;">
                    <input type="checkbox">
                    <p>Web</p>
                    <h6 class="abc2">25</h6>
                </span>

                <h3 style="font-size: 20px; font-weight:500; border-top: 1px solid gray; padding-top: 20px;">Position
                </h3>
                <span><input type="checkbox">
                    <p>Senior</p>
                    <h6 class="aaaa3">12</h6>
                </span>
                <span><input type="checkbox">
                    <p>Junior</p>
                    <h6 class="aba3">35</h6>
                </span>
                <span><input type="checkbox">
                    <p>Fresher</p>
                    <h6 class="abc3">56</h6>
                </span>

                <h3 style="font-size: 20px; font-weight:500; border-top: 1px solid gray; padding-top: 20px;">Experience
                    Level</h3>
                <span><input type="checkbox">
                    <p>Internship</p>
                    <h6 class="a4">56</h6>
                </span>
                <span><input type="checkbox">
                    <p>Entry Level</p>
                    <h6 class="aa4">87</h6>
                </span>
                <span><input type="checkbox">
                    <p>Associate</p>
                    <h6 class="aaa4">24</h6>
                </span>
                <span><input type="checkbox">
                    <p>Mid Level</p>
                    <h6 class="aabb4">45</h6>
                </span>
                <span><input type="checkbox">
                    <p>Director</p>
                    <h6 class="aaabb4">76</h6>
                </span>
                <span style="margin-bottom: 10px;"><input type="checkbox">
                    <p>Executive</p>
                    <h6 class="aaabbb4">89</h6>
                </span>

                <h3 style="font-size: 20px; font-weight:500; border-top: 1px solid gray; padding-top: 20px;">
                    Onsite/Remote</h3>
                <span><input type="checkbox">
                    <p>On-site</p>
                    <h6 class="aaaa3">12</h6>
                </span>
                <span><input type="checkbox">
                    <p>Remote</p>
                    <h6 class="aba4">65</h6>
                </span>
                <span><input type="checkbox">
                    <p>Hybrid</p>
                    <h6 class="abc4">58</h6>
                </span>

                <h3 style="font-size: 20px; font-weight:500; border-top: 1px solid gray; padding-top: 20px;">Job Posted
                </h3>
                <span><input type="checkbox">
                    <p>All</p>
                    <h6 class="a">78</h6>
                </span>
                <span><input type="checkbox">
                    <p>1 day</p>
                    <h6 class="a5">65</h6>
                </span>
                <span><input type="checkbox">
                    <p>7 days</p>
                    <h6 class="aa5">24</h6>
                </span>
                <span><input type="checkbox">
                    <p>30 days</p>
                    <h6 class="aaa5">56</h6>
                </span>

                <h3 style="font-size: 20px; font-weight:500; border-top: 1px solid gray; padding-top: 20px;">Job Type
                </h3>
                <span><input type="checkbox">
                    <p>Full Time</p>
                    <h6 class="a6">25</h6>
                </span>
                <span><input type="checkbox">
                    <p>Part Time</p>
                    <h6 class="aa6">64</h6>
                </span>
                <span><input type="checkbox">
                    <p>Remote Jobs</p>
                    <h6 class="aaa6">78</h6>
                </span>
                <span><input type="checkbox">
                    <p>Freelancer</p>
                    <h6 class="aaaa6">97</h6>
                </span>

            </div>

            <div class="acc">
                <div class="box2">
                    <div class="aaimg">
                        <span class="flash"></span>
                        <div class="aimg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-7.png">
                        </div>
                        <div class="right">
                            <a class="name-job" href="/company-details"
                                style="color: black; text-decoration:none; font-size:20px; font-weight:600;">

                                Nintendo</a>
                            <p class="pright"><i style="margin-right: 5px;" class="fa-solid fa-location-dot"></i>New
                                York,
                                US</p>
                        </div>
                    </div>
                    <h2>Products Manager</h2>
                    <span style="display: flex; color: gray ; margin-left: 20px;">
                        <h5 style="margin-right: 10px;"><i style="margin-right: 10px;"
                                class="fa-solid fa-briefcase"></i>Full Time</h5>
                        <p><i style="margin-right: 5px;" class="fa-solid fa-clock"></i>6 minutes ago</p>
                    </span>
                    <p style="width: 90%; margin:10px; margin-left:20px;">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Recusandae architecto eveniet, dolor quo
                        repellendus pariatur</p>
                    <div class="btn3">
                        <a class="btn1" style="padding-left:8px ;" href="/jobs-grid">ASP.Net</a>
                        <a style="margin-right: 120px; padding-left:15px;" class="btn1" href="/jobs-grid">Figma</a>
                        <!-- <a class="btn1" href="/jobs-grid">Photoshop</a> -->
                    </div>
                    <div class="btn2">
                        <span style="color: blue; font-size:20px;font-weight:600;">$250</span>
                        <span style="font-size: 16px; color:grey;">/Hour</span>
                        <button class="applybtn" style="float: right;background-color:lightgrey;border:none;">Apply
                            Now</button>
                    </div>
                </div>


                <div class="box1">
                    <div class="aaimg">
                        <span class="flash"></span>
                        <div class="aimg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-8.png">
                        </div>
                        <div class="right">
                            <a class="name-job" href="/company-details"
                                style="color: black; text-decoration:none; font-size:20px; font-weight:600;">
                                Periscope</a>
                            <p class="pright"><i style="margin-right: 5px;" class="fa-solid fa-location-dot"></i>New
                                York,
                                US</p>
                        </div>
                    </div>
                    <h2>Lead Quality Control QA</h2>
                    <span style="display: flex; color: gray ; margin-left: 20px;">
                        <h5 style="margin-right: 10px;"><i style="margin-right: 10px;"
                                class="fa-solid fa-briefcase"></i>Part Time</h5>
                        <p><i style="margin-right: 5px;" class="fa-solid fa-clock"></i>5 minutes ago</p>
                    </span>
                    <p style="width: 90%; margin:10px; margin-left:20px;">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Recusandae architecto eveniet, dolor quo
                        repellendus pariatur</p>
                    <div class="btn3">
                        <a class="btn1" style="padding-left:20px ;" href="/jobs-grid">iOS</a>
                        <a style="padding-left: 10px;" class="btn1" href="/jobs-grid">Laravel</a>
                        <a class="btn1" href="/jobs-grid">Golang</a>
                    </div>
                    <div class="btn2">
                        <span style="color: blue; font-size:20px;font-weight:600;">$250</span>
                        <span style="font-size: 16px; color:grey;">/Hour</span>
                        <button class="applybtn" style="float: right;background-color:lightgrey;border:none;">Apply
                            Now</button>
                    </div>
                </div>
                <div class="box3">
                    <div class="aaimg">
                        <span class="flash"></span>
                        <div class="aimg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-1.png">
                        </div>
                        <div class="right">
                            <a class="name-job" href="/company-details"
                                style="color: black; text-decoration:none; font-size:20px; font-weight:600;">LinkedIn</a>
                            <p class="pright"><i style="margin-right: 5px;" class="fa-solid fa-location-dot"></i>New
                                York,
                                US</p>
                        </div>
                    </div>
                    <h2>UI / UX Designer fulltime</h2>
                    <span style="display: flex; color: gray ; margin-left: 20px;">
                        <h5 style="margin-right: 10px;"><i style="margin-right: 10px;"
                                class="fa-solid fa-briefcase"></i>Full Time</h5>
                        <p><i style="margin-right: 5px;" class="fa-solid fa-clock"></i>4 minutes ago</p>
                    </span>
                    <p style="width: 90%; margin:10px; margin-left:20px;">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Recusandae architecto eveniet, dolor quo
                        repellendus pariatur</p>
                    <div class="btn3">
                        <a class="btn1" href="/jobs-grid" style="padding-left:5px ;">Adobe XD</a>
                        <a style="margin-right: 120px;padding-left: 10px;" class="btn1" href="/jobs-grid">Figma</a>
                        <a class="btn1" href="/jobs-grid">Photoshop</a>
                    </div>
                    <div class="btn2">
                        <span style="color: blue; font-size:20px;font-weight:600;">$500</span>
                        <span style="font-size: 16px; color:grey;">/Hour</span>
                        <button class="applybtn" style="float: right;background-color:lightgrey;border:none;">Apply
                            Now</button>
                    </div>
                </div>

                <div class="box3">
                    <div class="aaimg">
                        <span class="flash"></span>
                        <div class="aimg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-6.png">
                        </div>
                        <div class="right">
                            <a class="name-job" href="/company-details"
                                style="color: black; text-decoration:none; font-size:20px; font-weight:600;">
                                Adobe Ilustrator</a>
                            <p class="pright"><i style="margin-right: 5px;" class="fa-solid fa-location-dot"></i>New
                                York,
                                US</p>
                        </div>
                    </div>
                    <h2>Full Stack Engineer</h2>
                    <span style="display: flex; color: gray ; margin-left: 20px;">
                        <h5 style="margin-right: 10px;"><i style="margin-right: 10px;"
                                class="fa-solid fa-briefcase"></i>Part Time</h5>
                        <p><i style="margin-right: 5px;" class="fa-solid fa-clock"></i>5 minutes ago</p>
                    </span>
                    <p style="width: 90%; margin:10px; margin-left:20px;">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Recusandae architecto eveniet, dolor quo
                        repellendus pariatur</p>
                    <div class="btn3">
                        <a class="btn1" href="/jobs-grid" style="padding-left:10px ;">React</a>
                        <a style="margin-right: 120px;padding-left: 10px;" class="btn1" href="/jobs-grid">NodeJS</a>
                        <!-- <a class="btn1" href="/jobs-grid">Photoshop</a> -->
                    </div>
                    <div class="btn2" style="margin-top:40px;">
                        <span style="color: blue; font-size:20px;font-weight:600;">$800</span>
                        <span style="font-size: 16px; color:grey;">/Hour</span>
                        <button class="applybtn" style="float: right;background-color:lightgrey;border:none;">Apply
                            Now</button>
                    </div>
                </div>

                <div class="box3">
                    <div class="aaimg">
                        <span class="flash"></span>
                        <div class="aimg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-3.png">
                        </div>
                        <div class="right">
                            <a class="name-job" href="/company-details"
                                style="color: black; text-decoration:none; font-size:20px; font-weight:600;">
                                Bing Search</a>
                            <p class="pright"><i style="margin-right: 5px;" class="fa-solid fa-location-dot"></i>New
                                York,
                                US</p>
                        </div>
                    </div>
                    <h2>Java Software Engineer</h2>
                    <span style="display: flex; color: gray ; margin-left: 20px;">
                        <h5 style="margin-right: 10px;"><i style="margin-right: 10px;"
                                class="fa-solid fa-briefcase"></i>Full Time</h5>
                        <p><i style="margin-right: 5px;" class="fa-solid fa-clock"></i>6 minutes ago</p>
                    </span>
                    <p style="width: 90%; margin:10px; margin-left:20px;">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Recusandae architecto eveniet, dolor quo
                        repellendus pariatur</p>
                    <div class="btn3" style="display: grid;grid-template-columns:1fr 1fr 1fr;">
                        <a class="btn1" style="padding-left:10px ;" href="/jobs-grid">Python</a>
                        <a style="padding-left: 10px;" class="btn1" href="/jobs-grid">AWS</a>
                        <a class="btn1" href="/jobs-grid">Photoshop</a>
                    </div>
                    <div class="btn2" style="margin-top:40px;">
                        <span style="color: blue; font-size:20px;font-weight:600;">$800</span>
                        <span style="font-size: 16px; color:grey;">/Hour</span>
                        <button class="applybtn" style="float: right;background-color:lightgrey;border:none;">Apply
                            Now</button>
                    </div>
                </div>
                <div class="box3">
                    <div class="aaimg">
                        <span class="flash"></span>
                        <div class="aimg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-4.png">
                        </div>
                        <div class="right">
                            <a class="name-job" href="/company-details"
                                style="color: black; text-decoration:none; font-size:20px; font-weight:600;">
                                Dailymotion</a>
                            <p class="pright"><i style="margin-right: 5px;" class="fa-solid fa-location-dot"></i>New
                                York,
                                US</p>
                        </div>
                    </div>
                    <h2>Frontend Developer</h2>
                    <span style="display: flex; color: gray ; margin-left: 20px;">
                        <h5 style="margin-right: 10px;"><i style="margin-right: 10px;"
                                class="fa-solid fa-briefcase"></i>Full Time</h5>
                        <p><i style="margin-right: 5px;" class="fa-solid fa-clock"></i>6 minutes ago</p>
                    </span>
                    <p style="width: 90%; margin:10px; margin-left:20px;">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Recusandae architecto eveniet, dolor quo
                        repellendus pariatur</p>
                    <div class="btn3">
                        <a class="btn1" style="padding-left:3px ;" href="/jobs-grid">Typescript</a>
                        <a style="margin-right: 120px; padding-left:15px;" class="btn1" href="/jobs-grid">Java</a>
                        <!-- <a class="btn1" href="/jobs-grid">Photoshop</a> -->
                    </div>
                    <div class="btn2" style="margin-top:40px;">
                        <span style="color: blue; font-size:20px;font-weight:600;">$250</span>
                        <span style="font-size: 16px; color:grey;">/Hour</span>
                        <button class="applybtn" style="float: right;background-color:lightgrey;border:none;">Apply
                            Now</button>
                    </div>
                </div>



                <div class="box3">
                    <div class="aaimg">
                        <span class="flash"></span>
                        <div class="aimg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-5.png">
                        </div>
                        <div class="right">
                            <a class="name-job" href="/company-details"
                                style="color: black; text-decoration:none; font-size:20px; font-weight:600;">LinkedIn</a>
                            <p class="pright"><i style="margin-right: 5px;" class="fa-solid fa-location-dot"></i>New
                                York,
                                US</p>
                        </div>
                    </div>
                    <h2>React Native Web<br> Developer</h2>
                    <span style="display: flex; color: gray ; margin-left: 20px;">
                        <h5 style="margin-right: 10px;"><i style="margin-right: 10px;"
                                class="fa-solid fa-briefcase"></i>Full Time</h5>
                        <p><i style="margin-right: 5px;" class="fa-solid fa-clock"></i>4 minutes ago</p>
                    </span>
                    <p style="width: 90%; margin:10px; margin-left:20px;">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Recusandae architecto eveniet, dolor quo
                        repellendus pariatur</p>
                    <div class="btn3">
                        <a class="btn1" href="/jobs-grid" style="padding-left:10px ;">Angular</a>
                        <!-- <a style="margin-right: 120px;padding-left: 10px;" class="btn1" href="/jobs-grid">Figma</a> -->
                        <!-- <a class="btn1" href="/jobs-grid">Photoshop</a> -->
                    </div>
                    <div class="btn2">
                        <span style="color: blue; font-size:20px;font-weight:600;">$500</span>
                        <span style="font-size: 16px; color:grey;">/Hour</span>
                        <button class="applybtn" style="float: right;background-color:lightgrey;border:none;">Apply
                            Now</button>
                    </div>
                </div>

                <div class="box1">
                    <div class="aaimg">
                        <span class="flash"></span>
                        <div class="aimg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-6.png">
                        </div>
                        <div class="right">
                            <a class="name-job" href="/company-details"
                                style="color: black; text-decoration:none; font-size:20px; font-weight:600;">
                                Quora JSC</a>
                            <p class="pright"><i style="margin-right: 5px;" class="fa-solid fa-location-dot"></i>New
                                York,
                                US</p>
                        </div>
                    </div>
                    <h2>Senior System Engineer</h2>
                    <span style="display: flex; color: gray ; margin-left: 20px;">
                        <h5 style="margin-right: 10px;"><i style="margin-right: 10px;"
                                class="fa-solid fa-briefcase"></i>Part Time</h5>
                        <p><i style="margin-right: 5px;" class="fa-solid fa-clock"></i>5 minutes ago</p>
                    </span>
                    <p style="width: 90%; margin:10px; margin-left:20px;">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Recusandae architecto eveniet, dolor quo
                        repellendus pariatur</p>
                    <div class="btn3">
                        <a class="btn1" style="padding-left:20px ;" href="/jobs-grid">PHP</a>
                        <a style="padding-left: 10px;" class="btn1" href="/jobs-grid">Android</a>
                        <!-- <a class="btn1" href="/jobs-grid">Photoshop</a> -->
                    </div>
                    <div class="btn2">
                        <span style="color: blue; font-size:20px;font-weight:600;">$800</span>
                        <span style="font-size: 16px; color:grey;">/Hour</span>
                        <button class="applybtn" style="float: right;background-color:lightgrey;border:none;">Apply
                            Now</button>
                    </div>
                </div>
                <div class="box2">
                    <div class="aaimg">
                        <span class="flash"></span>
                        <div class="aimg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-7.png">
                        </div>
                        <div class="right">
                            <a class="name-job" href="/company-details"
                                style="color: black; text-decoration:none; font-size:20px; font-weight:600;">
                                Nintendo</a>
                            <p class="pright"><i style="margin-right: 5px;" class="fa-solid fa-location-dot"></i>New
                                York,
                                US</p>
                        </div>
                    </div>
                    <h2>Products Manager</h2>
                    <span style="display: flex; color: gray ; margin-left: 20px;">
                        <h5 style="margin-right: 10px;"><i style="margin-right: 10px;"
                                class="fa-solid fa-briefcase"></i>Full Time</h5>
                        <p><i style="margin-right: 5px;" class="fa-solid fa-clock"></i>6 minutes ago</p>
                    </span>
                    <p style="width: 90%; margin:10px; margin-left:20px;">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Recusandae architecto eveniet, dolor quo
                        repellendus pariatur</p>
                    <div class="btn3">
                        <a class="btn1" style="padding-left:3px ;" href="/jobs-grid">ASP.Net</a>
                        <a style="margin-right: 120px; padding-left:15px;" class="btn1" href="/jobs-grid">Figma</a>
                        <!-- <a class="btn1" href="/jobs-grid">Photoshop</a> -->
                    </div>
                    <div class="btn2">
                        <span style="color: blue; font-size:20px;font-weight:600;">$250</span>
                        <span style="font-size: 16px; color:grey;">/Hour</span>
                        <button class="applybtn" style="float: right;background-color:lightgrey;border:none;">Apply
                            Now</button>
                    </div>
                </div>


                <div class="box2">
                    <div class="aaimg">
                        <span class="flash"></span>
                        <div class="aimg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-8.png">
                        </div>
                        <div class="right">
                            <a class="name-job" href="/company-details"
                                style="color: black; text-decoration:none; font-size:20px; font-weight:600;">
                                Periscope</a>
                            <p class="pright"><i style="margin-right: 5px;" class="fa-solid fa-location-dot"></i>New
                                York,
                                US</p>
                        </div>
                    </div>
                    <h2>Lead Quality Control QA</h2>
                    <span style="display: flex; color: gray ; margin-left: 20px;">
                        <h5 style="margin-right: 10px;"><i style="margin-right: 10px;"
                                class="fa-solid fa-briefcase"></i>Full Time</h5>
                        <p><i style="margin-right: 5px;" class="fa-solid fa-clock"></i>6 minutes ago</p>
                    </span>
                    <p style="width: 90%; margin:10px; margin-left:20px;">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Recusandae architecto eveniet, dolor quo
                        repellendus pariatur</p>
                    <div class="btn3" style="display: grid; grid-template-columns:1fr 1fr 1fr;">
                        <a class="btn1" style="padding-left:25px ;" href="/jobs-grid">iOS</a>
                        <a style=" padding-left:13px;" class="btn1" href="/jobs-grid">Laravel</a>
                        <a class="btn1" style=" padding-left:10px;" href="/jobs-grid">Golang</a>
                    </div>
                    <div class="btn2">
                        <span style="color: blue; font-size:20px;font-weight:600;">$250</span>
                        <span style="font-size: 16px; color:grey;">/Hour</span>
                        <button class="applybtn" style="float: right;background-color:lightgrey;border:none;">Apply
                            Now</button>
                    </div>
                </div>
                <div class="box3">
                    <div class="aaimg">
                        <span class="flash"></span>
                        <div class="aimg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-1.png">
                        </div>
                        <div class="right">
                            <a class="name-job" href="/company-details"
                                style="color: black; text-decoration:none; font-size:20px; font-weight:600;">LinkedIn</a>
                            <p class="pright"><i style="margin-right: 5px;" class="fa-solid fa-location-dot"></i>New
                                York,
                                US</p>
                        </div>
                    </div>
                    <h2>UI / UX Designer fulltime</h2>
                    <span style="display: flex; color: gray ; margin-left: 20px;">
                        <h5 style="margin-right: 10px;"><i style="margin-right: 10px;"
                                class="fa-solid fa-briefcase"></i>Full Time</h5>
                        <p><i style="margin-right: 5px;" class="fa-solid fa-clock"></i>4 minutes ago</p>
                    </span>
                    <p style="width: 90%; margin:10px; margin-left:20px;">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Recusandae architecto eveniet, dolor quo
                        repellendus pariatur</p>
                    <div class="btn3">
                        <a class="btn1" href="/jobs-grid" style="padding-left:10px ;">AdobeXD</a>
                        <a style="margin-right: 120px;padding-left: 10px;" class="btn1" href="/jobs-grid">Figma</a>
                        <a class="btn1" href="/jobs-grid">Photoshop</a>
                    </div>
                    <div class="btn2">
                        <span style="color: blue; font-size:20px;font-weight:600;">$500</span>
                        <span style="font-size: 16px; color:grey;">/Hour</span>
                        <button class="applybtn" style="float: right;background-color:lightgrey;border:none;">Apply
                            Now</button>
                    </div>
                </div>

                <div class="box1">
                    <div class="aaimg">
                        <span class="flash"></span>
                        <div class="aimg">
                            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-2.png">
                        </div>
                        <div class="right">
                            <a class="name-job" href="/company-details"
                                style="color: black; text-decoration:none; font-size:20px; font-weight:600;">
                                Adobe Ilustrator</a>
                            <p class="pright"><i style="margin-right: 5px;" class="fa-solid fa-location-dot"></i>New
                                York,
                                US</p>
                        </div>
                    </div>
                    <h2>Full Stack Engineer</h2>
                    <span style="display: flex; color: gray ; margin-left: 20px;">
                        <h5 style="margin-right: 10px;"><i style="margin-right: 10px;"
                                class="fa-solid fa-briefcase"></i>Part Time</h5>
                        <p><i style="margin-right: 5px;" class="fa-solid fa-clock"></i>5 minutes ago</p>
                    </span>
                    <p style="width: 90%; margin:10px; margin-left:20px;">Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Recusandae architecto eveniet, dolor quo
                        repellendus pariatur</p>
                    <div class="btn3">
                        <a class="btn1" style="padding-left:20px ;" href="/jobs-grid">React</a>
                        <a style="padding-left: 10px;" class="btn1" href="/jobs-grid">NodeJS</a>
                        <!-- <a class="btn1" href="/jobs-grid">Photoshop</a> -->
                    </div>
                    <div class="btn2">
                        <span style="color: blue; font-size:20px;font-weight:600;">$800</span>
                        <span style="font-size: 16px; color:grey;">/Hour</span>
                        <button class="applybtn" style="float: right;background-color:lightgrey;border:none;">Apply
                            Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="list">
        <ul>
            <li><i class="fa-solid fa-angle-left"></i><a class="pager-prev" href="#"></a></li>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li><strong style="color: black;">6</strong></li>
            <li>7</li>
            <li><i class="fa-solid fa-angle-right"></i><a class="pager-prev" href="#"></a></li>
        </ul>
    </div>

    <div class="tex">
        <h1>News and Blog</h1>
        <span>Get the latest news, updates and tips<i class="fa-solid fa-angle-right"></i><i
                class="fa-solid fa-angle-left"></i></span>
    </div>



    <div class="flex9">
        <div class="brdrr">
            <div class="flex7">
                <div class="brdr">
                    <div class="iag">

                    </div>
                    <p class="ws">news</p>
                    <h4 class="tt" >21 job Tnterview Tips:how to Make a<br>Great Impression</h4>
                    <p class="para">our mission is to create the world&rsquo;s most
                        sustainable healthcare companyby craeating high quality
                        healthcare products in iconic,sustainable pakaging
                    </p>
                    <div class="flex8">
                        <div>
                            <img class="round"
                                src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/user1.png">
                        </div>
                        <div>
                            <p class="sh">sarah harding</p>
                            <p class="se">06 september</p>
                        </div>
                    </div>

                    <div>
                        <p class="re">8 mis to read</p>
                    </div>





                </div>

            </div>
        </div>
        <div class="brdrr">
            <div class="flex7">
                <div class="brdr">
                    <div class="iag1">

                    </div>
                    <p class="ws">news</p>
                    <h4 class="tt">21 job Tnterview Tips:how to Make a<br>Great Impression</h4>
                    <p class="para">our mission is to create the world&rsquo;s most
                        sustainable healthcare companyby craeating high quality
                        healthcare products in iconic,sustainable pakaging
                    </p>
                    <div class="flex8">
                        <div>
                            <img class="round"
                                src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/user1.png">
                        </div>
                        <div>
                            <p class="sh">steven jobs</p>
                            <p class="se">06 september</p>
                        </div>
                    </div>

                    <div>
                        <p class="re">6 mis to read</p>
                    </div>





                </div>

            </div>
        </div>

        <div class="brdrr">
            <div class="flex7">
                <div class="brdr">
                    <div class="iag2">

                    </div>
                    <p class="ws">news</p>
                    <h4 class="tt">21 job Tnterview Tips:how to Make a<br>Great Impression</h4>
                    <p class="para">our mission is to create the world&rsquo;s most
                        sustainable healthcare companyby craeating high quality
                        healthcare products in iconic,sustainable pakaging
                    </p>
                    <div class="flex8">
                        <div>
                            <img class="round"
                                src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/user1.png">
                        </div>
                        <div>
                            <p class="sh">William kend</p>
                            <p class="se">06 september</p>
                        </div>
                    </div>

                    <div>
                        <p class="re">9 mis to read</p>
                    </div>





                </div>

            </div>
        </div>
    </div>



    <section class="container5">
        <div class="boxnews">
            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/newsletter-left.png">
            <h1 id="update">New Things Will Always Update Regularly</h1>
            <img id="email-icon" src="https://cdn.iconscout.com/icon/free/png-128/email-2026367-1713640.png">
            <input id="email" type="Email" placeholder="Enter yours email here">
            <button id="subscribe">subscribe</button>
            <img id="newsletter-left" src="https://jobbox-nextjs.vercel.app/assets/imgs/template/newsletter-right.png"
                alt="">
        </div>
    </section>




</section>