<div class="container">

    <div class="myjob">
        <h1>MY Job</h1>
    </div>
    <div class="border">
        <div class="d-flex ">

            <div class="imgsrc">
                <img src="../../assets/brand-5.png" alt="">
            </div>
            <div class="linkedin">
                <h3>Linkedin</h3>
                <mat-icon class="place"> place</mat-icon>
                <span id="newyork">New York, US</span>
            </div>
            <div class="figma">
                <button id="adode">AdobeXD</button>
                <button id="adode1">figma</button>
                <img src="../../assets/flash.b59af78f.svg" alt="">
            </div>
        </div>

        <div class="react-nav">
            <h1>React Native Web Developer</h1>
        </div>
        <div class="fulltime">
            <mat-icon class="card1">card_travel</mat-icon>
            <h6 class="time">Fulltime</h6>
            <mat-icon class="card">alarm_on</mat-icon>
            <h6 class="time">4 mins ago</h6>
        </div>
        <div class="para">:
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo
                repellendus pariatur
            </p>
        </div>
        <div class="hours1">
            <span id="rupees">$500</span>
            <span id="hours">/Hours</span>
            <button mat-flat-button color="primary">Apply Now</button>
        </div>
    </div>

    <div class="border">
        <div class="d-flex ">

            <div class="imgsrc">
                <img src="../../assets/brand-6.png" alt="">
            </div>
            <div class="linkedin">
                <h3>Quro jsc</h3>
                <mat-icon class="place"> place</mat-icon>
                <span id="newyork">New York, US</span>
            </div>
            <div class="figma">
                <button id="adode">AdobeXD</button>
                <button id="adode1">figma</button>
                <img src="../../assets/flash.b59af78f.svg" alt="">
            </div>
        </div>

        <div class="react-nav">
            <h1>Senior System Engineer</h1>
        </div>
        <div class="fulltime">
            <mat-icon class="card1">card_travel</mat-icon>
            <h6 class="time">Fulltime</h6>
            <mat-icon class="card">alarm_on</mat-icon>
            <h6 class="time">4 mins ago</h6>
        </div>
        <div class="para">:
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo
                repellendus pariatur
            </p>
        </div>
        <div class="hours1">
            <span id="rupees">$800</span>
            <span id="hours">/Hours</span>
            <button mat-flat-button color="primary">Apply Now</button>
        </div>
    </div>
    <div class="border">
        <div class="d-flex ">

            <div class="imgsrc">
                <img src="../../assets/brand-7.png" alt="">
            </div>
            <div class="linkedin">
                <h3>Nintendo</h3>
                <mat-icon class="place"> place</mat-icon>
                <span id="newyork">New York, US</span>
            </div>
            <div class="figma">
                <button id="adode">AdobeXD</button>
                <button id="adode1">figma</button>
                <img src="../../assets/flash.b59af78f.svg" alt="">
            </div>
        </div>

        <div class="react-nav">
            <h1>Products Manager</h1>
        </div>
        <div class="fulltime">
            <mat-icon class="card1">card_travel</mat-icon>
            <h6 class="time">Fulltime</h6>
            <mat-icon class="card">alarm_on</mat-icon>
            <h6 class="time">4 mins ago</h6>
        </div>
        <div class="para">:
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo
                repellendus pariatur
            </p>
        </div>
        <div class="hours1">
            <span id="rupees">$250</span>
            <span id="hours">/Hours</span>
            <button mat-flat-button color="primary">Apply Now</button>
        </div>
    </div>
    <div class="border">
        <div class="d-flex ">

            <div class="imgsrc">
                <img src="../../assets/brand-8.png" alt="">
            </div>
            <div class="linkedin">
                <h3>periscope</h3>
                <mat-icon class="place"> place</mat-icon>
                <span id="newyork">New York, US</span>
            </div>
            <div class="figma">
                <button id="adode">AdobeXD</button>
                <button id="adode1">figma</button>
                <img src="../../assets/flash.b59af78f.svg" alt="">
            </div>
        </div>

        <div class="react-nav">
            <h1>Lead Quality Control QA</h1>
        </div>
        <div class="fulltime">
            <mat-icon class="card1">card_travel</mat-icon>
            <h6 class="time">Fulltime</h6>
            <mat-icon class="card">alarm_on</mat-icon>
            <h6 class="time">4 mins ago</h6>
        </div>
        <div class="para">:
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo
                repellendus pariatur
            </p>
        </div>
        <div class="hours1">
            <span id="rupees">$250</span>
            <span id="hours">/Hours</span>
            <button mat-flat-button color="primary">Apply Now</button>
        </div>
    </div>
</div>