.class img{
    margin: 121px 155px;
    width: 77%;
    border-radius: 16px;
}
.class1 img{
    margin-top: -284px;
    margin-left: 198px;
    border-radius: 16px;
}
.class2{
    display: flex;
    margin-top: -93px;
    margin-left: 203px;
    // justify-content: space-evenly;
}
.images{
    margin-left:194px;
    margin-top: 28px;
}


