<!-- <p>main works!</p> -->
<section class=section>
    <div class="class">
        <img src="../../assets/image1.png" alt="">
    </div>
    <div class="class1">
        <img src="../../assets/image2.png" alt="">
    </div>
    <!-- <div class="classs"> -->
    <div class="class2">
        <h5 style="    font-size: 18px;     color: #05264e;">Steven Jobs </h5>
        <mat-icon style="margin-left:11px;font-size: 19px;
        color: #a0abb8; margin-top:1px;">place</mat-icon>
        <p style="margin-top:1px;font-size: 16px;
        color: #a0abb8;">Newyork,us</p>
      
    </div>
    <p style="    margin-left: 196px;    color: #66789c;font-size: 16px
">UI/UX Designer. Front end Developer</p>
<div class="images">
    <img src="../../assets/star.svg" alt="">
    <img src="../../assets/star.svg" alt="">
    <img src="../../assets/star.svg" alt="">
    <img src="../../assets/star.svg" alt="">
    <img src="../../assets/star.svg" alt="">
    <span style="    margin-left: 10px">(66)</span>
    <img src="../../assets/verified.png" alt="" style="margin-top: -11px;
    margin-left: 10px;
">
</div>

<button class="button" style=" margin-left: 953px;    background-color: #3c65f5;
color: #fff;
padding: 18px 35px;
border-radius: 4px;border:none;    position: relative;
    top: -84px;     padding: 18px 30px 18px 65px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;">
   <mat-icon stye="position: relative;
   left: -11px;
   top: 7px;"
  
      
   >download</mat-icon> Download CV

</button>
<div>
<img src="../../assets/" alt="">
    


    <button mat-raised-button>shortbio</button>
</div>


</section>