* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.padding {
    
    padding: 26px;
    margin-left: 219px;
    margin-top: 20px;
    width: 100%;
}
.inputfields {
    width: 45%;
}

.skills {
    width: 32%;
}

.un-order li button {
    color: #05264e;
    background-color: #fff;
    
    width: 272px;
    height: 42px;
    margin-top: 15px;
    border-radius: 10px;
    padding-right: 128px;
    font-size: 20px;
    padding-left: 14px;
    box-shadow: 0 2px 4px -5px #0a2a69;
    border: 1px solid #b4c0e0;

}
.un-order li{
    list-style: none;
}
.un-order li button :hover{
    transition-duration: .2s;
    transform: translateY(-3px);
}
.b-bottom{
    border-bottom: 1px solid silver;
    margin-top: 52px;
    width: 273px;
}

.mat-icons{
    font-size: 18px;
}
.delete{
    color: #e45959;
    font-size: 12px;
    line-height: 12px;
    font-weight: 500;
    margin-top: 47px;
}
.acc-upt h2{
    font-size: 28px;
    line-height: 35px;
    font-family: Plus Jakarta Sans,sans-serif;
    color: #05264e;
    font-weight: 700;
}
.acc-upt h3{
    font-size: 16px;
    line-height: 15px;
   color: #66789c;
   font-family: Plus Jakarta Sans,sans-serif;
    font-style: normal;
    font-weight: 400;
}
.src-upload img{
    background-color: #05264e;
    cursor: pointer;
}
.src-upload button{
    margin-left: 28px;
    width: 134px;
    height: 39px;
    background-color: #3c65f5;
    color: white;
    border:none;
    border-radius: 8px;
}
.src-upload button:hover{
    background-color: #05264e;
    cursor: pointer;
}
.la-name{
    color: #a0abb8;
    font-weight: 500;
    font-size: 14px;
    
    font-family: Plus Jakarta Sans,sans-serif;
    line-height: 45px;
}

.src-upload a{
    margin-left: 21px;
    color: black;
}
.src-upload a:hover{
    color: blue;
}
.inp-field{
    width: 93%;
    border: 2px solid #e0e6f6;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    background: #fff;
    border: 1px solid #e0e6f6;
    height: 53px;
    box-shadow: none;
    padding-left: 20px;
    color: #a0abb8;
}
#inp-field{
    width: 93%;
    border: 2px solid #e0e6f6;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    background: #fff;
    border: 1px solid #e0e6f6;
    height: 110px;
    box-shadow: none;
    padding-left: 20px;
    color: #a0abb8;
}
#changepassword{
    color: #f58a3c;
    margin-top: 25px;
}
.checkbox{
    color: #a0abb8;
    font-weight: 500;
    font-size: 17px;
    line-height: 18px;
    margin-left: 20px;
}


.chespan{
    margin-top: 30px;
}
#save-all{
    background-color: #3c65f5;
    color: #fff;
    font-family: Plus Jakarta Sans,sans-serif;
    font-weight: 700;
    width: 93%;
    height: 58px;
    font-size: 20px;
    border: none;
    margin-bottom: 20px;
    margin-top: 22px;
}
#save-all:hover{
    background-color: #05264e;
    cursor: pointer;
}
.skil-text{
    border: 2px solid black;
    width: 100%;
    margin-top: 211px;
    height: 301px;
    padding: 26px;
    border-color: #e0e6f6;
    margin-left: 41px;
}
#skill-text{
    color:  #05264e;
    font-size: 21px;
   
}

#angular-larvel{
    width: 100%;
    height: 46px;
    border: 1px solid #b4c0e0;
    padding-left: 20px;
}
.you{
    margin-top: 139px;
    color: #66789c;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px
}