<div class="d-flex padding">
    <div class="inputfields">
        <div class="acc-upt">
            <h2>My Account</h2>
            <h3>update your profile</h3>
        </div>
        <div class="src-upload">
            <img src="../../assets/candidate-profile.png" alt="">
            <button>Upload Avatar</button>
            <a href="">Delete</a>
        </div>
        <form action="">
            <label for="" class="la-name">Full Name</label><br>
            <input type="text" placeholder="Steven Job" class="inp-field"><br>
            <label for="" class="la-name">Email</label><br>
            <input type="text" placeholder="stevenjob@gmail.com" class="inp-field"><br>
            <label for="" class="la-name">Contact Number</label><br>
            <input type="text" placeholder="01 - 234 567 89" class="inp-field"><br>
            <label for="" class="la-name">Bio</label><br>
            <textarea name="" id="inp-field" cols="30" rows="10"
                placeholder="We are AliThemes , a creative and dedicated group of individuals who love web development almost as much as we love our customers. We are passionate team with the mission for achieving the perfection in web design."></textarea><br>
            <label for="" class="la-name">Personal website</label><br>
            <input type="text" placeholder="https://alithemes.com" class="inp-field">
            <div>
                <label for="" class="la-name">Country</label><br>
                <input type="text" placeholder="United States" class="inp-field"><br>
                <label for="" class="la-name">States</label><br>
                <input type="text" placeholder="Newyork" class="inp-field"><br>
            </div>
            <div>
                <label for="" class="la-name">City</label><br>
                <input type="text" class="inp-field"><br>
                <label for="" class="la-name">Zip code</label><br>
                <input type="text" placeholder="823566" class="inp-field"><br>
            </div>
            <div id="btm-btm"></div>
            <h2 id="changepassword">
                Change your password
            </h2>
            <div class="d-flex">

                <form>
                    <div class="form">
                        <div>
                            <label for="fname" class="paword">Password:</label><br>


                            <input type="text" id="fname" name="fname" class="pssword"
                                placeholder="Password">&nbsp;&nbsp;
                        </div>
                        <div>
                            <label for="lname" class="paword">Confirm Password:</label><br>

                            <input type="text" id="lname" class="pssword" name="lname" placeholder="cpsword">
                        </div>
                    </div>

                </form>

            </div>
            <!-- <div class="border-bottom"></div> -->
            <div class="chespan">
                <input type="checkbox"><span class="checkbox">Available for freelancers</span>
            </div>
            <button id="save-all">Save all Changes</button>

        </form>
    </div>
    <div class="skills">
        <form action="" class="skil-text">
            <label for="" id="skill-text">Skills</label><br>
            <input type="text" id="angular-larvel" placeholder="E.g.Angular,Laravel">
            <h5 class="you">You can add up to 15 skills</h5>
        </form>
    </div>
</div>