
<section>
    <div class="div1">
        
        <div class="vercel">
            
        </div>
    <div class="verc">
        <div class="about">
            <h1 class="us">About Us</h1>
            <p class="get">Get the latest news, updates and tips</p>
        </div>
    </div>
        <div>
            <button class="house">
                <p><i class="fa-solid fa-house"></i><span class="home">Home</span><span>></span><span>Blog</span></p>
            </button>
        </div>
    </div>
</section>

<section>
    <div class="logo">

        <div class="north">
            <div>
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/page/contact/logo.svg">
            </div>
            <div>
                <p>205 North Michigan Avenue, Suite 810</p>
                <p>Chicago, 60601, USA</p>
                <p>Phone: (123) 456-7890</p>
                <p>Email: contact@jobbox.com</p>
                <p class="map">VIEW MAP</p>
            </div>
        </div>

        <div class="london">
            <div>
                <h2>London</h2>
                <p>2118 Thornridge Cir. Syracuse,</p>
                <p>Connecticut 35624</p>
            </div>
            <div>
                <h2>New York</h2>
                <p>4517 Washington Ave.</p>
                <p>Manchester, Kentucky 39495</p>
            </div>

            <div>
                <h2>Chicago</h2>
                <p>3891 Ranchview Dr. Richardson,</p>
                <p>California 62639</p>
            </div>
            <div>
                <h2>San Francisco</h2>
                <p>4140 Parker Rd. Allentown,</p>
                <p>New Mexico 31134</p>
            </div>

            <div>
                <h2>Sysney</h2>
                <p>3891 Ranchview Dr. Richardson,</p>
                <p>California 62639</p>
            </div>
            <div>
                <h2>Singapore</h2>
                <p>4140 Parker Rd. Allentown,</p>
                <p>New Mexico 31134</p>
            </div>


        </div>
    </div>
</section>

<section>
    <div class="double">
        <div class="inputs">
            <h5 class="contact">Contact us</h5>
            <h1>Get in touch</h1>
            <p>The right move at the right time saves your investment. live
                the dream of expanding your business.</p>
        </div>
        <div class="text">
            <input type="text" placeholder="Enter Your Name">
            <input id="three" type="text" placeholder="Your Email">
            <input type="text" placeholder="Company(Optional)">
            <input id="three" type="text" placeholder="Phone Number">
        </div>
        <div class="area">
            <textarea placeholder="Tell us about yourself"></textarea>
        </div>
        <div class="mes">
            <button><i class="fa-solid fa-envelope"></i>Send Message</button>
            <span id="squares"><input id="square" type="checkbox"></span><span class="by">By clicking contact us button,
                you agree our terms and policy,</span>
        </div>

        <div class="png">
            <div>
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/page/contact/img.png">
            </div>
        </div>
    </div>
</section>


<section>
    <div class="meet">
        <div>
            <h3>OUR COMPANY</h3>
            <h1>Meet Our Team</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ligula ante, dictum non aliquet eu,
                dapibus ac quam. Morbi vel ante viverra orci tincidunt tempor eu id ipsum. Sed consectetur, risus a
                blandit tempor, velit magna pellentesque risus, at congue tellus dui quis nisl.</p>
        </div>

    </div>
</section>

<section>
    <div class="teresa">
        <div class="dev">
            <img class="image" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/about/team1.png" width="120px"
                height="120px">
            <h2 class="end">Arlene McCoy</h2>
            <p class="front">Frontend Developer</p>
            <div class="star">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <span>(65)</span>
            </div>
            <div class="uni">
                <span><i class="fa-solid fa-location-dot"></i>New York, US</span>
            </div>
            <div class="face">
                <i class="fab fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fab fa-linkedin-in"></i>

            </div>
        </div>


        <div class="dev">
            <img class="image" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/about/team2.png" width="120px"
                height="120px">
            <h2 class="end">Floyd Miles</h2>
            <p class="front">UI/UX Designer</p>
            <div class="star">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <span>(65)</span>
            </div>
            <div class="uni">
                <span><i class="fa-solid fa-location-dot"></i>New York, US</span>
            </div>
            <div class="face">
                <i class="fab fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fab fa-linkedin-in"></i>

            </div>
        </div>


        <div class="dev">
            <img class="image" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/about/team3.png" width="120px"
                height="120px">
            <h2 class="end">Devon Lane</h2>
            <p class="front">Frontend Developer</p>
            <div class="star">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <span>(65)</span>
            </div>
            <div class="uni">
                <span><i class="fa-solid fa-location-dot"></i>New York, US</span>
            </div>
            <div class="face">
                <i class="fab fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fab fa-linkedin-in"></i>

            </div>
        </div>


        <div class="dev">
            <img class="image" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/about/team4.png" width="120px"
                height="120px">
            <h2 class="end">Jerome Bell</h2>
            <p class="front">Frontend Developer</p>
            <div class="star">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <span>(65)</span>
            </div>
            <div class="uni">
                <span><i class="fa-solid fa-location-dot"></i>New York, US</span>
            </div>
            <div class="face">
                <i class="fab fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fab fa-linkedin-in"></i>

            </div>
        </div>


        <div class="dev">
            <img class="image" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/about/team5.png" width="120px"
                height="120px">
            <h2 class="end">Theresa</h2>
            <p class="front">Frontend Developer</p>
            <div class="star">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <span>(65)</span>
            </div>
            <div class="uni">
                <span><i class="fa-solid fa-location-dot"></i>New York, US</span>
            </div>
            <div class="face">
                <i class="fab fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fab fa-linkedin-in"></i>

            </div>
        </div>


        <div class="dev">
            <img class="image" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/about/team6.png" width="120px"
                height="120px">
            <h2 class="end">Cameron</h2>
            <p class="front">Frontend Developer</p>
            <div class="star">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <span>(65)</span>
            </div>
            <div class="uni">
                <span><i class="fa-solid fa-location-dot"></i>New York, US</span>
            </div>
            <div class="face">
                <i class="fab fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fab fa-linkedin-in"></i>

            </div>
        </div>


        <div class="dev">
            <img class="image" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/about/team7.png" width="120px"
                height="120px">
            <h2 class="end">Jacob Jones</h2>
            <p class="front">Frontend Developer</p>
            <div class="star">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <span>(65)</span>
            </div>
            <div class="uni">
                <span><i class="fa-solid fa-location-dot"></i>New York, US</span>
            </div>
            <div class="face">
                <i class="fab fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fab fa-linkedin-in"></i>

            </div>
        </div>


        <div class="dev">
            <img class="image" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/about/team8.png" width="120px"
                height="120px">
            <h2 class="end">Court Henry</h2>
            <p class="front">Frontend Developer</p>
            <div class="star">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                <span>(65)</span>
            </div>
            <div class="uni">
                <span><i class="fa-solid fa-location-dot"></i>New York, US</span>
            </div>
            <div class="face">
                <i class="fab fa-facebook-f"></i>
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fab fa-linkedin-in"></i>

            </div>
        </div>



    </div>
</section>




<div class="flex9">
    <div class="brdrr">
        <div class="flex7">
            <div class="brdr">
                <div class="iag">

                </div>
                <p class="ws">News</p>
                <h4 class="tt">21 job Tnterview Tips:how to Make a<br>Great Impression</h4>
                <p class="para">Our mission is to create the world&rsquo;s most
                    sustainable healthcare company by creating high-quality
                    healthcare products in iconic,sustainable packaging.</p>
                <div class="flex8">
                    <div>
                        <img class="round" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/user1.png">
                    </div>
                    <div>
                        <p class="sh"><b>Sarah harding</b></p>
                        <p class="se">06 september</p>
                    </div>
                </div>

                <div>
                    <p class="re">8 mis to read</p>
                </div>





            </div>

        </div>
    </div>
    <div class="brdrr">
        <div class="flex7">
            <div class="brdr">
                <div class="iag1">

                </div>
                <p class="ws">Event</p>
                <h4 class="tt">21 job Tnterview Tips:how to Make a<br>Great Impression</h4>
                <p class="para">Our mission is to create the world&rsquo;s most
                    sustainable healthcare company by creating high-quality
                    healthcare products in iconic,sustainable packaging. </p>
                <div class="flex8">
                    <div>
                        <img class="round" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/user2.png">
                    </div>
                    <div>
                        <p class="sh"><b>Steven jobs</b></p>
                        <p class="se">06 september</p>
                    </div>
                </div>

                <div>
                    <p class="re">6 mis to read</p>
                </div>





            </div>

        </div>
    </div>

    <div class="brdrr">
        <div class="flex7">
            <div class="brdr">
                <div class="iag2">

                </div>
                <p class="ws">News</p>
                <h4 class="tt">21 job interview Tips:how to Make a<br>Great Impression</h4>
                <p class="para">Our mission is to create the world&rsquo;s most
                    sustainable healthcare company by creating high-quality
                    healthcare products in iconic,sustainable packaging. </p>
                <div class="flex8">
                    <div>
                        <img class="round" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/user3.png">
                    </div>
                    <div>
                        <p class="sh"><b>William kend</b></p>
                        <p class="se">06 september</p>
                    </div>
                </div>

                <div>
                    <p class="re">9 mins to read</p>
                </div>





            </div>

        </div>
    </div>
</div>

<section>
    <div class="load">
        <button class="more"><i class="fa-solid fa-loader"></i>Load More Posts</button>
    </div>
</section>






<section>
    <div class="happy">
        <h1>Our Happy Customer</h1>
        <p class="when">When it comes to choosing the right web hosting provider, we know how easy it
            is to get overwhelmed with the number.</p>
    </div>
<div class="flex"> 
    <div  class="omnis">
        <div>
            <p class="random" style="position: relative; 
            border : 3px solid #d9dada;
            width: 335px;;
             padding: 10px;font-size: 15px;
             border-radius: 15px;
             margin-left: 15px;
             margin-top:20px;
             padding-top: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus praesentium quaerat minus fugiat recusandae odit porro eius corrupti obcaecati.
                Omnis repellat natus explicabo neque itaque ut eum incidunt vel commodi?</p>
            </div>
            <div class="imgs">
                <img src="https://jobbox-nextjs.vercel.app/assets/imgs/page/about/user1.png" width="70px" height="60px">
                <div class="adair">
                <p><b>Mark Adair</b></p>
                <p class="men">Businessmen</p>
            </div>
        </div>
        

    </div>
    <div  class="omnis">
        <div>
            <p class="random" style="position: relative; 
            border : 3px solid #d9dada;
            width: 335px;;
             padding: 10px;font-size: 15px;
             border-radius: 15px;
             margin-left: 15px;
             margin-top:20px;
             padding-top: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus praesentium quaerat minus fugiat recusandae odit porro eius corrupti obcaecati.
                Omnis repellat natus explicabo neque itaque ut eum incidunt vel commodi?</p>
            </div>
            <div class="imgs">
                <img  class="asset" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/about/user2.png" width="70px" height="60px">
                <div class="adair">
                <p><b>Mark Adair</b></p>
                <p class="men">Businessmen</p>
            </div>
        </div>
        

    </div>
    <div  class="omnis">
        <div>
            <p class="random" style="position: relative; 
            border : 3px solid #d9dada;
            width: 335px;;
             padding: 10px;font-size: 15px;
             border-radius: 15px;
             margin-left: 15px;
             margin-top:20px;
             padding-top: 10px;">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Temporibus praesentium quaerat minus fugiat recusandae odit porro eius corrupti obcaecati.
                Omnis repellat natus explicabo neque itaque ut eum incidunt vel commodi?</p>
            </div>
            <div class="imgs">
                <img class="app" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/about/user3.png" width="70px" height="60px">
                <div class="adair">
                <p><b>Mark Adair</b></p>
                <p class="men">Businessmen</p>
            </div>
        </div>
        

    </div>
</div>
</section>





<div  class="neww" style="background-color:#3c65f5;width: 80%;
margin-left: 145px; margin-top:53px;height:396px;">
    <h1   class="new">New Things Will Always
        Update Regularly</h1>
           <div style="display:flex; justify-content: space-between;">
            <div>
        <img src="../../assets/newsletter-left.png" alt="" style="margin-top: -54px;
        margin-left: 20px;">
            </div>
            <div>
                <img src="../../assets/newsletter-right.png" alt="" style="    margin-top: -41px;
                margin-right: 43px;">
                    </div>
          </div>
        <div style="    position: relative;
        top: -125px;
        margin-left: 261px;
    ">
            <img src="../../assets/email.233736aa.svg" style="    position: relative;
            left: 58px;"> 
            <input type="text" placeholder="Enter your email here" style="width: 61%;
            border: 0;
            min-height: 67px;padding: 15px 15px 15px 60px;border-radius:9px;outline:none;
height: 50px;
box-shadow: none;
padding-left: 59px;
font-size: 14px; font-family: Plus Jakarta Sans,sans-serif;">
            <div  class="subb"style="position: relative;
            top: -73px;
            /* left: 366px; */
            margin-left: 375px;
        ">
              <mat-icon style="position: relative;
              left: 25px;
              top: 7px;color: #fff;
            
           
                ">verified</mat-icon>
            <button  class="sub">Subscribe</button>
            </div>
        </div>
</div>

