
<div class="class">
    <img src="../../assets/thumb.png" alt="">
</div>
<div class="senior">
    <h3>Senior Full Stack Engineer, Creator Success Full Time</h3>
</div>
<div class="partt">
    <div class="part1">
        <mat-icon  style="    font-size: 12px;
        color: #a0abb8;
        display: inline-block;
        padding: 0 15px;">card_travel</mat-icon>
        <span style="    font-size: 12px;
        color: #a0abb8;
        display: inline-block;
        ">Full time</span>
    </div>
    <div class="part2" >
        <i class="fa-solid fa-clock" style=" font-size: 12px;
        color: #a0abb8;
        display: inline-block;"></i>
        <span style=" font-size: 12px;
        color: #a0abb8;
        display: inline-block;">3 mins ago</span>
    </div>
    </div>
    <button class="buttons">
        <mat-icon style="position: relative;
                      left: -8px;
                      top: 7px;color: #fff;
                    
                   
                        ">verified</mat-icon> Apply Now
     
     </button> 
     <div class="borderbutt">
        <p></p>
     </div>
     <section class="secure">
     <section class="section">
        <h5>Employment Information</h5>
        <div class="borderbuttt">
            <p></p>
         </div>
         <div class="industri">
            <div class="industri1">
              <div class="ima">
                <div class="ima1">
                    <img src="../../assets/icon-about-hover.1cf87cd1.svg" alt="">
                </div>
                <div class="ima2">
                    <span style="
                    font-size: 16px;
                    color: #66789c;
                    line-height: 24px;
                    font-weight: 400;
                    margin-left: 14px;
                ">
                        Industry</span>
                </div>
                <div class="ima3">
                    <strong style="    font-size: 16px;
                    line-height: 24px;
                    font-weight: 500;    width: 52%;
    display: inline-block;
    margin-left: 49px;    color: #05264e;">
                        
Mechanical / Auto / Automotive, Civil / Construction</strong>
                </div>
              </div>
              <div class="ima" style="margin-top:18px;">
                <div class="ima1">
                    <img src="../../assets/salary.svg" alt="">
                </div>
                <div class="ima2">
                    <span style="   font-size: 16px;
                    color: #66789c;
                    line-height: 24px;
                    font-weight: 400;
                    margin-left: 14px;
                ">
                        Salary</span>
                </div>
                <div class="ima3">
                    <strong style="   font-size: 16px;
                    line-height: 24px;
                    font-weight: 500;   
    display: inline-block;
    margin-left: 60px;    color: #05264e;">
                        

                        $800 - $1000</strong>
                </div>
              </div>
              <div class="ima" style="margin-top:18px;" >
                <div class="ima1">
                    <img src="../../assets/job-type.svg" alt="">
                </div>
                <div class="ima2">
                    <span style="  font-size: 16px;
                    color: #66789c;
                    line-height: 24px;
                    font-weight: 400;
                    margin-left: 14px;
                ">
                        Job type</span>
                </div>
                <div class="ima3">
                    <strong style="   font-size: 16px;
                    line-height: 24px;
                    font-weight: 500;   
    display: inline-block;
    margin-left: 44px;    color: #05264e;">            
Permanent</strong>
                </div>
              </div>
              <div class="ima" style="margin-top:18px;">
                <div class="ima1">
                    <img src="../../assets/updated.svg" alt="">
                </div>
                <div class="ima2">
                    <span style="  font-size: 16px;
                    color: #66789c;
                    line-height: 24px;
                    font-weight: 400;
                    margin-left: 14px;
                ">           
Updated</span>
                </div>
                <div class="ima3">
                    <strong style="   font-size: 16px;
                    line-height: 24px;
                    font-weight: 500;   
    display: inline-block;
    margin-left: 41px;    color: #05264e;">
                        10/07/2022</strong>
                </div>
              </div>
            </div>
            <div class="industri2">
                <div class="ima">
                    <div class="ima1">
                        <img src="../../assets/icon-people-hover.f5b8fe69.svg" alt="">
                    </div>
                    <div class="ima2">
                        <span style="  font-size: 16px;
                        color: #66789c;
                        line-height: 24px;
                        font-weight: 400;
                        margin-left: 14px;
                    ">
                            
Job level</span>
                    </div>
                    <div class="ima3">
                        <strong  style="   font-size: 16px;
                        line-height: 24px;
                        font-weight: 500;   
        display: inline-block;
        margin-left: 41px;    color: #05264e;width:56%;">
                            
    
Experienced (Non - Manager)</strong>
                    </div>
                  </div>
                  <div class="ima" style="margin-top:42px;">
                    <div class="ima1">
                        <img src="../../assets/experience.svg" alt="">
                    </div>
                    <div class="ima2">
                        <span style=" font-size: 16px;
                        color: #66789c;
                        line-height: 24px;
                        font-weight: 400;
                        margin-left: 14px;
                    ">
                            Experience</span>
                    </div>
                    <div class="ima3">
                        <strong style="   font-size: 16px;
                        line-height: 24px;
                        font-weight: 500;   
        display: inline-block;
        margin-left: 41px;    color: #05264e;">
                            
    
                          
1 - 2 years</strong>
                    </div>
                  </div>
                  <div class="ima" style="margin-top:18px;">
                    <div class="ima1">
                        <img src="../../assets/deadline.svg" alt="">
                    </div>
                    <div class="ima2">
                        <span style="  font-size: 16px;
                        color: #66789c;
                        line-height: 24px;
                        font-weight: 400;
                        margin-left: 14px;
                    ">
                            
Deadline</span>
                    </div>
                    <div class="ima3">
                        <strong  style="   font-size: 16px;
                        line-height: 24px;
                        font-weight: 500;   
        display: inline-block;
        margin-left: 41px;    color: #05264e;">            
    
10/08/2022</strong>
                    </div>
                  </div>
                  <div class="ima" style="margin-top:18px;">
                    <div class="ima1">
                        <img src="../../assets/location.svg" alt="">
                    </div>
                    <div class="ima2">
                        <span style="  font-size: 16px;
                        color: #66789c;
                        line-height: 24px;
                        font-weight: 400;
                        margin-left: 14px;
                    ">           
                            Location</span>
                    </div>
                    <div class="ima3">
                        <strong style="   font-size: 16px;
                        line-height: 24px;
                        font-weight: 500;   
        display: inline-block;
        margin-left: 41px;    color: #05264e; width:61%;">
                            Dallas, Texas Remote Friendly</strong>
                    </div>
                  </div>

            </div>
         </div>
     </section>
     <div class="theme">
        <div class="theme1">
            <img src="../../assets/avatar.png" alt="">
        </div>
        <div class="theme2">
            <span>AliThemes</span>
            <div class="place" style="display:flex;    position: relative;
            left: -16px;">
            <div class="place1">
            <mat-icon  class="place">place</mat-icon>
            </div>
           <div >
            <p  class="newyork">Newyork,Us</p>
        </div>
       
    </div>
       <h6 style="font-size: 12px;
       line-height: 18px;
          color: #05264e;
        font-weight: 400;
         text-decoration: underline;margin-left:10px;"> 02 open Jobs</h6>
       <div class="butts">
        <p></p>
       </div>
      <div class="frame">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d487293.2774677608!2d78.12784000692413!3d17.412808363619543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb99daeaebd2c7%3A0xae93b78392bafbc2!2sHyderabad%2C%20Telangana!5e0!3m2!1sen!2sin!4v1669976600831!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="lise">
        <ul style="font-family: Plus Jakarta Sans,sans-serif;margin-left:-101px;">
            <li style="width:248px;margin-top:27px">205 North Michigan Avenue, Suite 810 Chicago, 60601, USA</li>
            <li style="line-height:40px">Phone: (123) 456-7890</li>
            <li>Email: contact@Evara.com</li>
        </ul>
      </div>
        </div>
        
     </div>
     
    </section>
    <div class="studio">
        <h4>Welcome to AliStudio Team</h4>
    </div>
     <div class="design">
        <p>The AliStudio Design team has a vision to establish a trusted platform that enables productive and healthy enterprises in a world of digital and remote everything, constantly changing work patterns and norms, and the need for organizational resiliency.</p>
     </div>
    <div class="design1">
        <p>The ideal candidate will have strong creative skills and a portfolio of work which demonstrates their passion for illustrative design and typography. This candidate will have experiences in working with numerous different design platforms such as digital and print forms.</p>
    </div>
    <div class="skill">
<h4>Essential Knowledge, Skills, and Experience</h4>
    </div>
    <div class="port">
        <ul>
            <li>A portfolio demonstrating well thought through and polished end to end customer journeys</li>
            <li>5+ years of industry experience in interactive design and / or visual design</li>
            <li>Excellent interpersonal skills</li>
            <li>Aware of trends inmobile, communications, and collaboration</li>
            <li>Ability to create highly polished design prototypes, mockups, and other communication artifacts</li>
            <li>History of impacting shipping products with your work</li>
            <li>A Bachelor's Degree in Design (or related field) or equivalent professional experience</li>
            <li>Proficiency in a variety of design tools such as Figma, Photoshop, Illustrator, and Sketch</li>
        </ul>
    </div>
    <div class="prefered">
        <h4>Preferred Experience</h4>
    </div>
    <div class="user">
        <ul>
            <li>Designing user experiences for enterprise software / services</li>
            <li>Creating and applying established design principles and interaction patterns</li>
            <li>Aligning or influencing design thinking with teams working in other geographies</li>
        </ul>
    </div>
    <div class="product">
        <h4>Product Designer</h4>
    </div>
    <div class="deeply">
        <p><strong>Product knowledge:</strong> Deeply understand the technology and features of the product area to which you are assigned.</p>
    </div>
    <div class="research">
        <p><strong>Research:</strong>Provide human and business impact and insights for products.</p>
    </div>
    <div class="delivery">
        <p><strong>Deliverables:</strong>Create deliverables for your product area (for example competitive analyses, user flows, low fidelity wireframes, high fidelity mockups, prototypes, etc.) that solve real user problems through the user experience.

        </p>
    </div>
    <div class="communi">
        <p><strong>Communication: </strong>Communicate the results of UX activities within your product area to the design team department, cross-functional partners within your product area, and other interested Superformula team members using clear language that simplifies complexity.</p>
    </div>
    <section class="job">
<div class="job1">
    <h6>Similar jobs
    </h6>
</div>
<div class="bord">
    <p></p>
</div>
<div class="horse">
    <div class="horse1">
        <img src="../../assets/brand-1.png" alt="">
    </div>
    <div class="horse2">
        <h5>
            UI / UX Designer fulltime</h5>
        <div class="full1">
            <div class="full">
                <mat-icon>card_travel</mat-icon>
                <span>Full time</span>
            </div>
            <div class="full2">
                <i class="fa-solid fa-clock"></i>
                <span>3 mins ago</span>
            </div>
        </div>
        <div class="hour">
            <div class="hour1">
                <h6>$250</h6>
                <span>/Hour</span>
            </div>
            <div class="hour2">
                <mat-icon>card_travel</mat-icon>
                <span>New York, US</span>
            </div>
        </div>
    </div>
</div>
<div class="bord">
    <p></p>
</div>
<div class="horse">
    <div class="horse1">
        <img src="../../assets/brand-2.png" alt="">
    </div>
    <div class="horse2">
        <h5>
           
Java Software Engineer</h5>
        <div class="full1">
            <div class="full">
                <mat-icon>card_travel</mat-icon>
                <span>Full time</span>
            </div>
            <div class="full2">
                <i class="fa-solid fa-clock"></i>
                <span>5 mins ago</span>
            </div>
        </div>
        <div class="hour">
            <div class="hour1">
                <h6>$500</h6>
                <span>/Hour</span>
            </div>
            <div class="hour2">
                <mat-icon>card_travel</mat-icon>
                <span>Tokyo, Japan</span>
            </div>
        </div>
    </div>
</div>
<div class="bord">
    <p></p>
</div>
<div class="horse">
    <div class="horse1">
        <img src="../../assets/brand-3.png" alt="">
    </div>
    <div class="horse2">
        <h5>
           

            Frontend Developer</h5>
        <div class="full1">
            <div class="full">
                <mat-icon>card_travel</mat-icon>
                <span>Full time</span>
            </div>
            <div class="full2">
                <i class="fa-solid fa-clock"></i>
                <span>8 mins ago</span>
            </div>
        </div>
        <div class="hour">
            <div class="hour1">
                <h6>$650</h6>
                <span>/Hour</span>
            </div>
            <div class="hour2">
                <mat-icon>card_travel</mat-icon>
                <span>Hanoi, Vietnam</span>
            </div>
        </div>
    </div>
</div>
<div class="bord">
    <p></p>
</div>
<div class="horse">
    <div class="horse1">
        <img src="../../assets/brand-4.png" alt="">
    </div>
    <div class="horse2">
        <h5>
           

            Cloud Engineer</h5>
        <div class="full1">
            <div class="full">
                <mat-icon>card_travel</mat-icon>
                <span>Full time</span>
            </div>
            <div class="full2">
                <i class="fa-solid fa-clock"></i>
                <span>12 mins ago</span>
            </div>
        </div>
        <div class="hour">
            <div class="hour1">
                <h6>$380</h6>
                <span>/Hour</span>
            </div>
            <div class="hour2">
                <mat-icon>card_travel</mat-icon>
                <span>Losangl, Au</span>
            </div>
        </div>
    </div>
</div>
<div class="bord">
    <p></p>
</div>
<div class="horse">
    <div class="horse1">
        <img src="../../assets/brand-5.png" alt="">
    </div>
    <div class="horse2">
        <h5>
           

            DevOps Engineer</h5>
        <div class="full1">
            <div class="full">
                <mat-icon>card_travel</mat-icon>
                <span>Full time</span>
            </div>
            <div class="full2">
                <i class="fa-solid fa-clock"></i>
                <span>34 mins ago</span>
            </div>
        </div>
        <div class="hour">
            <div class="hour1">
                <h6>$140</h6>
                <span>/Hour</span>
            </div>
            <div class="hour2">
                <mat-icon>card_travel</mat-icon>
                <span>Paris, France</span>
            </div>
        </div>
    </div>
</div>
<div class="bord">
    <p></p>
</div>
<div class="horse">
    <div class="horse1">
        <img src="../../assets/brand-6.png" alt="">
    </div>
    <div class="horse2">
        <h5>       
Figma design UI/UX</h5>
        <div class="full1">
            <div class="full">
                <mat-icon>card_travel</mat-icon>
                <span>Full time</span>
            </div>
            <div class="full2">
                <i class="fa-solid fa-clock"></i>
                <span>45 mins ago</span>
            </div>
        </div>
        <div class="hour">
            <div class="hour1">
                <h6>$290</h6>
                <span>/Hour</span>
            </div>
            <div class="hour2">
                <mat-icon>card_travel</mat-icon>
                <span>New York, US</span>
            </div>
        </div>
    </div>
</div>
<div class="bord">
    <p></p>
</div>
<div class="horse">
    <div class="horse1">
        <img src="../../assets/brand-7.png" alt="">
    </div>
    <div class="horse2">
        <h5>       
            Product Manage</h5>
        <div class="full1">
            <div class="full">
                <mat-icon>card_travel</mat-icon>
                <span>Full time</span>
            </div>
            <div class="full2">
                <i class="fa-solid fa-clock"></i>
                <span>50 mins ago</span>
            </div>
        </div>
        <div class="hour">
            <div class="hour1">
                <h6>$650</h6>
                <span>/Hour</span>
            </div>
            <div class="hour2">
                <mat-icon>card_travel</mat-icon>
                <span>New York, US</span>
            </div>
        </div>
    </div>
</div>
<div class="bord">
    <p></p>
</div>
<div class="horse">
    <div class="horse1">
        <img src="../../assets/brand-8.png" alt="">
    </div>
    <div class="horse2">
        <h5>       
            UI / UX Designer</h5>
        <div class="full1">
            <div class="full">
                <mat-icon>card_travel</mat-icon>
                <span>Full time</span>
            </div>
            <div class="full2">
                <i class="fa-solid fa-clock"></i>
                <span>58 mins ago</span>
            </div>
        </div>
        <div class="hour">
            <div class="hour1">
                <h6>$270</h6>
                <span>/Hour</span>
            </div>
            <div class="hour2">
                <mat-icon>card_travel</mat-icon>
                <span>New York, US</span>
            </div>
        </div>
    </div>
</div>
</section>
<div class="ali">
    <div class="ali1">
        <p></p>
    </div>
    <div class="ali2">
        <span>AliThemes</span>
    </div>
    <div class="ali3">
        <p></p>
    </div>
</div>
<div class="bordd">
    <p></p>
</div>
<div class="face">
    <div class="face1">
<button style="    color: #fff;
background-color: #3c65f5;
line-height: 26px;
padding: 10px 25px;font-family: Plus Jakarta Sans,sans-serif;
    border-radius: 8px;
   
    font-size: 14px;border:none
    ">Applynow</button>
<button style="    border: 1px solid #b4c0e0;
padding: 10px 23px;
border-radius: 10px;
background: #fff;
color: #4f5e64;
font-size: 16px;
font-family: Plus Jakarta Sans,sans-serif;margin-left:15px;font-weight: 700;">Savejob</button>

    </div>
    <div class="face2">
        <span>Share this</span>
        <img src="../../assets/share-fb.svg" alt="">
        <img src="../../assets/share-tw.svg" alt="">
        <img src="../../assets/share-red.svg" alt="">
        <img src="../../assets/share-whatsapp.svg" alt="">
    </div>
</div>
<div class="left">
    <h2>Featured Jobs</h2>
    <p>Get the latest news, updates and tips</p>
</div>
<div class="chevron">
<i class="fa-solid fa-chevron-left"  style="    padding: 10px 8px;
            
color: #a0abb8;
line-height: 26px;

margin-left: 143px;
margin-top: 21px;

height: 48px;
width: 48px;
border:1px solid;
border-radius:50%;
;padding-top: 10px;
padding-left: 16px;
/* color: #fff; */
/* background-color: #a0abb8; */
background-color: whitesmoke
"></i>
<i class="fa-solid fa-chevron-right" style="    padding: 10px 8px;
            
color: #a0abb8;
line-height: 26px;



height: 48px;
width: 48px;
border:1px solid;
border-radius:50%;
;padding-top: 10px;
padding-left: 16px;
/* color: #fff; */
/* background-color: #a0abb8; */
background-color: whitesmoke;margin-left:10px;
"></i>
</div>


<div class="flash">
    <section class="flash1">
        <div class="flash2">
            <div class="imagess">
                <img src="../../assets/brand-6.png" alt="">
            </div>
            <div class="quora">
                <h1>Quora JSC</h1>
                <mat-icon>place</mat-icon>
                <span>Newyork,US</span>
                
            </div>
            <div class="flashh">
                <img src="../../assets/flash.b59af78f.svg" alt="">
            </div>
        </div>
        <h2>Senior System Engineer</h2>
        <div class="part" >
            <div class="part1" >
                <mat-icon >card_travel</mat-icon>
                <span >Part time</span>
            </div>
            <div class="part2">
                <i class="fa-solid fa-clock"></i>
                <span >5 days ago</span>
            </div>
        </div>
        <div class="sit">
        <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
        </div>
        <div class="btns">
            <button class="button1"> PHP</button>
            <button class="button2">Android</button>
        </div>
        <div class="apply" >
            <div class="hour1">
                <h6>$800/</h6>
                <span>Hour</span>
            </div>
            <button class="now">Apply Now</button>
            </div>
    </section>
    <section class="flash1">
        <div class="flash2">
            <div class="imagess">
                <img src="../../assets/brand-4.png" alt="">
            </div>
            <div class="quora">
                <h1>Daily Motion</h1>
                <mat-icon>place</mat-icon>
                <span>Newyork,US</span>
                
            </div>
            <div class="flashh">
                <img src="../../assets/flash.b59af78f.svg" alt="">
            </div>
        </div>
        <h2>Front-end Developer</h2>
        <div class="part" >
            <div class="part1" >
                <mat-icon >card_travel</mat-icon>
                <span >Part time</span>
            </div>
            <div class="part2">
                <i class="fa-solid fa-clock"></i>
                <span >5 days ago</span>
            </div>
        </div>
        <div class="sit">
        <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
        </div>
        <div class="btns">
            <button class="button1">Typescript</button>
            <button class="button2">Java</button>
        </div>
        <div class="apply" >
            <div class="hour1">
                <h6>$800/</h6>
                <span>Hour</span>
            </div>
            <button class="now">Apply Now</button>
            </div>
    </section>
    <section class="flash1">
        <div class="flash2">
            <div class="imagess">
                <img src="../../assets/brand-7.png" alt="">
            </div>
            <div class="quora">
                <h1>Periscope</h1>
                <mat-icon>place</mat-icon>
                <span>Newyork,US</span>
                
            </div>
            <div class="flashh">
                <img src="../../assets/flash.b59af78f.svg" alt="">
            </div>
        </div>
        <h2>Lead Quality Control QA</h2>
        <div class="part" >
            <div class="part1" >
                <mat-icon >card_travel</mat-icon>
                <span >Part time</span>
            </div>
            <div class="part2">
                <i class="fa-solid fa-clock"></i>
                <span >5 days ago</span>
            </div>
        </div>
        <div class="sit">
        <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
        </div>
        <div class="btns">
            <button class="button1">PHP</button>
            <button class="button2">Android</button>
        </div>
        <div class="apply" >
            <div class="hour1">
                <h6>$800/</h6>
                <span>Hour</span>
            </div>
            <button class="now">Apply Now</button>
            </div>
    </section>
    <section class="flash1">
        <div class="flash2">
            <div class="imagess">
                <img src="../../assets/brand-3.png" alt="">
            </div>
            <div class="quora">
                <h1>Daily Motion</h1>
                <mat-icon>place</mat-icon>
                <span>Newyork,US</span>
                
            </div>
            <div class="flashh">
                <img src="../../assets/flash.b59af78f.svg" alt="">
            </div>
        </div>
        <h2>Senior System Engineer</h2>
        <div class="part" >
            <div class="part1" >
                <mat-icon >card_travel</mat-icon>
                <span >Part time</span>
            </div>
            <div class="part2">
                <i class="fa-solid fa-clock"></i>
                <span >5 days ago</span>
            </div>
        </div>
        <div class="sit">
        <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
        </div>
        <div class="btns">
            <button class="button1">ios</button>
            <button class="button2">Laravel</button>
        </div>
        <div class="apply" >
            <div class="hour1">
                <h6>$800/</h6>
                <span>Hour</span>
            </div>
            <button  class="now">Apply Now</button>
            </div>
    </section>
</div>
<button class="load">Load more Posts</button>
<div  class="neww" style="background-color:#3c65f5;width: 80%;
margin-left: 145px; margin-top:53px;height:396px;">
    <h1   class="new">New Things Will Always
        Update Regularly</h1>
           <div style="display:flex; justify-content: space-between;">
            <div>
        <img src="../../assets/newsletter-left.png" alt="" style="margin-top: -54px;
        margin-left: 20px;">
            </div>
            <div>
                <img src="../../assets/newsletter-right.png" alt="" style="    margin-top: -41px;
                margin-right: 43px;">
                    </div>
          </div>
        <div style="    position: relative;
        top: -125px;
        margin-left: 261px;
    ">
            <img src="../../assets/email.233736aa.svg" style="    position: relative;
            left: 41px;"> 
            <input type="text" placeholder="Enter your email here" style="width: 61%;
            border: 0;
            min-height: 67px;padding: 15px 15px 15px 60px;border-radius:9px;outline:none;
height: 50px;
box-shadow: none;
padding-left: 59px;
font-size: 14px; font-family: Plus Jakarta Sans,sans-serif;">
            <div  class="subb"style="position: relative;
            top: -56px;
            /* left: 366px; */
            margin-left: 375px;
        ">
              <mat-icon style="position: relative;
              left: 25px;
              top: 7px;color: #fff;
            
           
                ">verified</mat-icon>
            <button  class="sub">Subscribe</button>
            </div>
        </div>
</div>



