
    <div class="class">
        <img src="../../assets/image1.png" alt="">
    </div>
    <div class="class1">
        <img src="../../assets/image2.png" alt="">
    </div>
      <div class="classs"> 
     <div class="class2">
        <h5  class="steven">Steven Jobs </h5>
        <mat-icon  class="place">place</mat-icon>
        <p  class="newyork">Newyork,Us</p>
      
    </div> 
     <p  class="frontend">UI/UX Designer. Front end Developer</p>
<div class="images">
    <img src="../../assets/star.svg" alt="">
    <img src="../../assets/star.svg" alt="">
    <img src="../../assets/star.svg" alt="">
    <img src="../../assets/star.svg" alt="">
    <img src="../../assets/star.svg" alt="">
    <span style="    margin-left: 10px">(66)</span>
    <img src="../../assets/verified.png" alt="" style="margin-top: -11px;
    margin-left: 10px;
">
</div> 

 <button class="buttons"  routerLink="/downversion">
   <mat-icon 
  
      class="icon" 
   >download</mat-icon> Download CV

</button> 
 <div> 
     <button class="buttonn" 
     
>
        <img src="../../assets/icon-about-hover.1cf87cd1.svg" alt="" style="padding-right:10px">
        Shortbio
       
    </button>
     <button mat-stroked-button  class="buttoo">
        <img src="../../assets/icon-recruitment-hover.eee0e583.svg" alt="" style="padding-right:10px">
        Skills 

     </button>
    <button mat-stroked-button  class="butt">
        <img src="../../assets/icon-people-hover.f5b8fe69.svg" alt="" style="padding-right:10px">
        WorkingExperience

    </button>
    <p style="margin-bottom: 53px; 
    height: 36px;
    width: 82%;
    border-bottom: 2px solid whitesmoke;
    margin-left: 93px;
"></p> 

<div class="horizoin">
    <h4>About Me</h4>
    <p style=" font-size: 15px;
    line-height: 200%;
    color: #4f5e64;
    line-height: 32px;
    margin-bottom: 20px;
    font-family: Plus Jakarta Sans,sans-serif;
    width: 737px;
    margin-left: 150px;
    ">Hello there! My name is Alan Walker. I am a graphic designer, and I’m very passionate and dedicated to my work. With 20 years experience as a professional a graphic designer, I have acquired the skills and knowledge necessary to make your project a success.</p>
    <p style=" font-size: 15px;
    line-height: 200%;
    color: #4f5e64;
    line-height: 32px;
    margin-bottom: 20px;
    font-family: Plus Jakarta Sans,sans-serif;
    width: 737px;
    margin-left: 150px;
    ">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis illum fuga eveniet. Deleniti asperiores, commodi quae ipsum quas est itaque, ipsa, dolore beatae voluptates nemo blanditiis iste eius officia minus. Id nisi, consequuntur sunt impedit quidem, vitae mollitia!</p>
</div>
</div> 
 <div class="overview">
    <h5 style="    color: #05264e;font-size:18px; font-family: Plus Jakarta Sans,sans-serif; font-weight: 700;">Overview</h5>
    <p style=" 
    width: 100%;
    border-bottom: 1px solid whitesmoke;
    margin-left: -8px;margin-top: 20px;
"
  
></p>      

 <div class="exp">

<div class="exp1">
    <mat-icon style="        font-size: 18px;
    
    ;color:gray;margin-top:3px;">card_travel</mat-icon>
</div>
<div class="exp2">
<span style="color: #66789c;font-size:14px;    line-height: 22px;">Experience</span>
<strong style="    color: #05264e;font-weight:700">12 Years</strong>
</div>

  
</div> 
 <div class="expp"> 

    <div class="expp1">
        <i class="fa-duotone fa-dollar-sign" style="font-size: 17px;
    margin-top: 3px; color:gray"></i>
    </div>
    <div class="expp2">
    <span style="color: #66789c;font-size:14px; line-height: 22px;">Expected Salary</span>
    <strong style="    color: #05264e;font-weight:700">$26k-$30k</strong>
    </div>
    
      
    </div> 
     <div class="exps">

     <div class="exps1">
         
          <mat-icon style="color:gray;    position: relative;
          left: -5px;">location_on</mat-icon>
        </div>
        <div class="exps2">
        <span style="color: #66789c;font-size:14px; line-height: 22px;">Language</span>
        <strong style="    color: #05264e;font-weight:700">English,German</strong>
        </div>
        
          
        </div> 
        <div class="expt">

             <div class="expt1">
               <mat-icon style="color:gray;    position: relative;
               left: -5px;">library_books</mat-icon> 
              <i class="fi-rr-time-fast"></i></div>
            <div class="expt2">
            <span style="color: #66789c;font-size:14px; line-height: 22px;">Educationlevel</span>
            <strong style="    color: #05264e;font-weight:700">Master Degree</strong>
            </div>
            
              
            </div>
            <p style="   border-bottom: 1px solid whitesmoke;
            margin-left: -8px; margin-top:20px;
        "></p>
            <div class="lists">
                <ul style="font-family: Plus Jakarta Sans,sans-serif;">
                    <li style="width:248px;margin-top:27px">205 North Michigan Avenue, Suite 810 Chicago, 60601, USA</li>
                    <li style="line-height:40px">Phone: (123) 456-7890</li>
                    <li>Email: contact@Evara.com</li>
                </ul>
            </div>
            <button  class="send" >
             <i class="fa-solid fa-envelope" style="    position: relative;
             right: 12px;"></i> 
                Send Message
               
            </button>

</div>

</div> 

    
<h4 style="    position: relative;
top: -264px;
/* left: 10px; */
margin-left: 149px;    color: #4f5e64;
    font-weight: 700;font-size: 24px;font-family: Plus Jakarta Sans,sans-serif;
">Professional Skills</h4>
<div class="progres" style="display:flex;     margin-top: -265px;
margin-left: 146px;
">
    <div class="progres1">
        <h4 style="    color: #66789c;    font-size: 16px;font-family: Plus Jakarta Sans,sans-serif;    font-weight: 700;
    ">Programming</h4>
       <div style="display:flex;">
        <div>
      <h4 style="position: relative;
      top: 10px;font-family: Plus Jakarta Sans,sans-serif;    font-weight: 500!important;
    font-size: 12px!important;
      
      ">HTML & CSS</h4>
        </div>
               <div>
           <span style="position: relative;
           left: 158px; top: 10px;">78%</span>
              </div>
      </div>
      <div>
          <input type="range" max="100" value="78" style="width: 257%" id="slider"> 
        </div>
        <div id="progressBar"></div>
          <div style="display:flex;">
            <div>
             <h4 style="    position: relative;
             top: 10px;font-family: Plus Jakarta Sans,sans-serif;    font-weight: 500!important;
    font-size: 12px!important;  
         ">Javascript</h4>
             </div>
                <div>
             <span style="    position: relative;
             left: 204px; top: 10px;
         ">88%</span>
                </div>
        </div>
        <input type="range" max="100" value="88" style="width: 257%">
        <div style="display:flex;">
            <div>
             <h4 style="  position: relative;
             top: 10px;font-family: Plus Jakarta Sans,sans-serif;    font-weight: 500!important;
    font-size: 12px!important;">Database</h4>
             </div>
                <div>
             <span style="    position: relative;
             left: 131px; top: 10px;
         ">62%</span>
                </div>
        </div>
        <input type="range" max="100" value="62" style="width: 257%">
        <div style="display:flex;">
            <div>
             <h4 style="  position: relative;
             top: 10px;font-family: Plus Jakarta Sans,sans-serif;    font-weight: 500!important;
    font-size: 12px!important;">React Js</h4>
             </div>
                <div>
             <span style="    position: relative;
             left: 228px; top: 10px;
         ">92%</span>
                </div>
        </div>
        <input type="range" max="100" value="92" style="width: 257%">
    </div>
    
    

    <div class="progres2" style="    margin-left: 252px;">
        <h4 style="color: #66789c;font-size: 16px;font-weight: 700;font-family: Plus Jakarta Sans,sans-serif; ">Design</h4>
       <div style="display:flex;">
          <div>
           <h4 style="  position: relative;
           top: 10px;font-family: Plus Jakarta Sans,sans-serif;    font-weight: 500!important;
    font-size: 12px!important;">Photoshop</h4>
           </div>
              <div>
           <span style="    position: relative;
           left: 20px ;top: 10px;
       ">29%</span>
              </div>
      </div>
      <input type="range" max="100" value="29"  style="width: 257%">
      <div style="display:flex;">
        <div>
         <h4 style="  position: relative;
         top: 10px;font-family: Plus Jakarta Sans,sans-serif;    font-weight: 500!important;
    font-size: 12px!important;">Figma</h4>
         </div>
            <div>
         <span style="    position: relative;
         left: 22px; top: 10px;
     ">20%</span>
            </div>
    </div>
    <input type="range" max="100" value="20" style="width: 257%">
    <div style="display:flex;">
        <div>
         <h4 style="position:relative;top:10px;font-family: Plus Jakarta Sans,sans-serif;    font-weight: 500!important;
         font-size: 12px!important;">illustrator</h4>
         </div>
            <div>
         <span style="    position: relative;
         left: 138px; top: 10px;
     ">65%</span>
            </div>
    </div>
    <input type="range" max="100" value="65" style="width: 257%">
    <div style="display:flex;">
        <div>
         <h4 style="position:relative;
         top:10px;font-family: Plus Jakarta Sans,sans-serif;    font-weight: 500!important;
    font-size: 12px!important;">Sketch</h4>
         </div>
            <div>
         <span style="position: relative;
         left: 215px; top: 10px;
     ">82%</span>
            </div>
    </div>
    <input type="range" max="100" value="82" id="rang" style="width: 257%">
    </div>
  

</div>

<h4 style="color: #4f5e64;
font-weight: 700;

margin-left: 145px;
margin-top: 37px;
font-size: 24px;font-family: Plus Jakarta Sans,sans-serif;">WorkExperience</h4>
<div class="list1"style="padding-left: 30px;color: #4f5e64;
line-height: 32px;
font-size: 15px;
margin-left:117px;

font-family: Plus Jakarta Sans,sans-serif;color: #05264e font-weight:400;
    ">
    <ul>
    <li>A portfolio demonstrating well thought through and polished end to end customer journeys</li>
    <li>5+ years of industry experience in interactive design and / or visual design</li>
    <li>Excellent interpersonal skills</li>
    <li>Aware of trends in mobile, communications, and collaboration</li>
     <li>Ability to create highly polished design prototypes, mockups, and other communication artifacts</li>
     <li>The ability to scope and estimate efforts accurately and prioritize tasks and goals independently</li>
     <li>History of impacting shipping products with your work</li>
     <li>A Bachelor's Degree in Design (or related field) or equivalent professional experience</li>
     <li>Proficiency in a variety of design tools such as Figma, Photoshop, Illustrator, and Sketch</li>
    </ul>
</div>
<h4 style="color: #4f5e64;
font-weight: 700;
font-family: plus;
margin-left: 145px;
margin-top: 37px;
font-size: 24px;font-family: Plus Jakarta Sans,sans-serif;">Education</h4>
<div class="list2" style="padding-left: 30px;color: #4f5e64;
line-height: 32px;
font-size: 15px;
margin-left:117px;

font-family: Plus Jakarta Sans,sans-serif;
font-weight:400">
    <ul>
        <li>
            Necessitatibus quibusdam facilis
        </li>
        <li>Velit unde aliquam et voluptas reiciendis non sapiente labore</li>
        <li>Commodi quae ipsum quas est itaque</li>
        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit</li>
        <li>Deleniti asperiores blanditiis nihil quia officiis dolor</li>
    </ul>
</div>

    <div class="side">
    <span style="color: #b4c0e0;
    font-size: 24px;
    line-height: 37px;
    letter-spacing: 2px;
    text-transform: uppercase;font-family: Plus Jakarta Sans,sans-serif;">we are</span>
    <p style="color: #66789c;
    font-size: 36px;
    font-weight: 800;
   
    letter-spacing: 2px;
    text-transform: uppercase;font-family: Plus Jakarta Sans,sans-serif;">Hiring</p>
    <p style="font-size: 10px!important;
    line-height: 16px;    color: #4f5e64;    font-family: Plus Jakarta Sans,sans-serif;
    font-style: normal;
    font-weight: 400;width:216px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto</p>
    <button  class="know">Know More</button>
    <div>

   
    <img src="../../assets/bg-hiring-right.c8010f04.svg" alt="" style="    margin-top: 16px;">
</div>
</div>
<p style="    height: 36px;
width: 55%;
border-bottom: 2px solid whitesmoke;
margin-left: 139px;margin-top:-440px;
"></p>
<h3 style="font-size: 28px;
line-height: 35px;    color: #05264e;    font-family: Plus Jakarta Sans,sans-serif;
    font-style: normal;
    font-weight: 700;    margin-left: 143px;">Work history</h3>
<section  class="quoraa">
<div style="display:flex;
margin-top: 31px;
margin-left: 16px;
">
<div class="quora" style="display:flex">
  <div>
    <img src="../../assets/brand-6.png" alt="">
  </div>
  <div>
    <h4 style="font-size: 18px;
    line-height: 26px;
    color: #05264e;
    font-weight: 700;
    margin-left:10px;">Quora JSC</h4>
    <mat-icon style="margin-left: 11px;
    font-size: 12px;
    color: #a0abb8;
    margin-top: 1px;position: relative;
    top: -14px;">place</mat-icon>
    <span style="  top: -17px;
    margin-top: 1px;
    font-size: 12px;
    color: #a0abb8;
    font-family: Plus Jakarta Sans,sans-serif;
    position: relative;
    left: -10px;
">Newyork,Us</span>
  </div>
</div>
<div class="button" style="margin-left:386px">
    <button style="    background-color: #eff3fc;
    font-size: 12px;
    padding: 7px 10px;
    border-radius: 5px;border:none;  font-family: Plus Jakarta Sans,sans-serif;margin-right:7px" >Adobe XD</button>
    <button style="    background-color: #eff3fc;
    font-size: 12px;
    padding: 7px 10px;
    border-radius: 5px;border:none;  font-family: Plus Jakarta Sans,sans-serif;margin-right:7px">Figma</button>
    <img src="../../assets/flash.b59af78f.svg" alt="">
</div>
</div>
<h4 style="font-size: 21px;
line-height: 35px;    color: #05264e;    font-family: Plus Jakarta Sans,sans-serif;
   
    font-weight: 900;  margin-left: 16px;  ">Senior System Engineer</h4>
<div class="part" style="display:flex">
<div class="part1" STYLE="margin-top:-17px; font-family: Plus Jakarta Sans,sans-serif;">
    <mat-icon style="    font-size: 12px;
    color: #a0abb8;
    display: inline-block;
    padding: 0 15px;">card_travel</mat-icon>
    <span style="    font-size: 12px;
    color: #a0abb8;
    display: inline-block;
    ">Part time</span>
</div>
<div class="part2" style="margin-top:-17px;margin-left:10px; font-family: Plus Jakarta Sans,sans-serif;">
    <i class="fa-solid fa-clock" style=" font-size: 12px;
    color: #a0abb8;
    display: inline-block;"></i>
    <span style=" font-size: 12px;
    color: #a0abb8;
    display: inline-block;">5 days ago</span>
</div>
</div>
<p style="font-weight: 500;
font-size: 14px!important;
line-height: 22px!important;color: #4f5e64;
font-family: Plus Jakarta Sans,sans-serif;width:656px;margin-left: 16px;margin-top:12px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
<div class="done" style="display:flex;justify-content:space-between;margin-top:39px">
    <div class="done1" style="padding-left:15px">
<div>
    <span style="    font-size: 16px;
    line-height: 26px;
    padding-top: 8px;    color: #3c65f5;
    font-family: Plus Jakarta Sans,sans-serif;
    font-weight: 700;">Status:</span>
    <span style="    font-size: 12px;
    line-height: 12px;font-weight: 700;    color: #198754!important;   font-family: Plus Jakarta Sans,sans-serif;">Done</span>
</div>
</div>
<div class="done2">
<button  class="view" routerLink="/employment">View Details</button>


</div>
</div>
</section>
<section   class="quoraa">
    <div  style="display:flex;
    margin-top: 31px;
    margin-left: 16px;
    ">
    <div class="quora" style="display:flex">
      <div>
        <img src="../../assets/brand-7.png" alt="">
      </div>
      <div>
        <h4 style="font-size: 18px;
        line-height: 26px;
        color: #05264e;
        font-weight: 700;
        margin-left:10px;">Nintendo</h4>
        <mat-icon style="margin-left: 11px;
        font-size: 12px;
        color: #a0abb8;
        margin-top: 1px;position: relative;
        top: -14px;">place</mat-icon>
        <span style="  top: -17px;
        margin-top: 1px;
        font-size: 12px;
        color: #a0abb8;
        font-family: Plus Jakarta Sans,sans-serif;
        position: relative;
        left: -10px">Newyork,Us</span>
      </div>
    </div>
    <div class="button" style="margin-left:386px">
        <button  style="    background-color: #eff3fc;
        font-size: 12px;
        padding: 7px 10px;
        border-radius: 5px;border:none;  font-family: Plus Jakarta Sans,sans-serif;margin-right:7px">Adobe XD</button>
        <button  style="    background-color: #eff3fc;
        font-size: 12px;
        padding: 7px 10px;
        border-radius: 5px;border:none;  font-family: Plus Jakarta Sans,sans-serif;margin-right:7px">Figma</button>
        <img src="../../assets/flash.b59af78f.svg" alt="">
    </div>
    </div>
    <h4 style="font-size: 21px;
    line-height: 35px;    color: #05264e;    font-family: Plus Jakarta Sans,sans-serif;
       
        font-weight: 900;  margin-left: 16px"  >Products Manager</h4>
    <div class="part" style="display:flex">
    <div class="part1" STYLE="margin-top:-17px; font-family: Plus Jakarta Sans,sans-serif;">
        <mat-icon  style="    font-size: 12px;
        color: #a0abb8;
        display: inline-block;
        padding: 0 15px;">card_travel</mat-icon>
        <span style="    font-size: 12px;
        color: #a0abb8;
        display: inline-block;
        ">Full time</span>
    </div>
    <div class="part2" style="margin-top:-17px;margin-left:10px; font-family: Plus Jakarta Sans,sans-serif;">
        <i class="fa-solid fa-clock" style=" font-size: 12px;
        color: #a0abb8;
        display: inline-block;"></i>
        <span style=" font-size: 12px;
        color: #a0abb8;
        display: inline-block;">6 days ago</span>
    </div>
    </div>
    <p style="font-weight: 500;
    font-size: 14px!important;
    line-height: 22px!important;color: #4f5e64;
    font-family: Plus Jakarta Sans,sans-serif;width:656px;margin-left: 16px;margin-top:12px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
    <div class="done" style="display:flex;justify-content:space-between;margin-top:39px">
        <div class="done1" style="padding-left:15px">
   <div>
    <span style="    font-size: 16px;
    line-height: 26px;
    padding-top: 8px;    color: #3c65f5;
    font-family: Plus Jakarta Sans,sans-serif;
    font-weight: 700;">Status:</span>
    <span  style="    font-size: 12px;
    line-height: 12px;font-weight: 700;    color: #198754!important;   font-family: Plus Jakarta Sans,sans-serif;">Done</span>
   </div>
    </div>
    <div class="done2">
    <button  class="view
    
  ">View Details</button>
        </div>
    </div>
    </section>
    <section class="quoraa"
     >
        <div   style="display:flex;
        margin-top: 31px;
        margin-left: 16px;
        ">
        <div class="quora" style="display:flex">
          <div>
            <img src="../../assets/brand-8.png" alt="">
          </div>
          <div>
            <h4 style="font-size: 18px;
            line-height: 26px;
            color: #05264e;
            font-weight: 700;
            margin-left:10px;">Periscope</h4>
            <mat-icon style="margin-left: 11px;
            font-size: 12px;
            color: #a0abb8;
            margin-top: 1px;position: relative;
            top: -14px;">place</mat-icon>
            <span style="  top: -17px;
            margin-top: 1px;
            font-size: 12px;
            color: #a0abb8;
            font-family: Plus Jakarta Sans,sans-serif;
            position: relative;
            left: -10px">Newyork,Us</span>
          </div>
        </div>
        <div class="button" style="margin-left:386px">
            <button  style="    background-color: #eff3fc;
            font-size: 12px;
            padding: 7px 10px;
            border-radius: 5px;border:none;  font-family: Plus Jakarta Sans,sans-serif;margin-right:7px">Adobe XD</button>
            <button  style="    background-color: #eff3fc;
            font-size: 12px;
            padding: 7px 10px;
            border-radius: 5px;border:none;  font-family: Plus Jakarta Sans,sans-serif;margin-right:7px">Figma</button>
            <img src="../../assets/flash.b59af78f.svg" alt="">
        </div>
        </div>
        <h4 style="font-size: 21px;
        line-height: 35px;    color: #05264e;    font-family: Plus Jakarta Sans,sans-serif;
           
            font-weight: 900;  margin-left: 16px" >Lead Quality Control QA</h4>
        <div class="part" style="display:flex">
        <div class="part1" STYLE="margin-top:-17px; font-family: Plus Jakarta Sans,sans-serif">
            <mat-icon  style="    font-size: 12px;
            color: #a0abb8;
            display: inline-block;
            padding: 0 15px;">card_travel</mat-icon>
            <span style="    font-size: 12px;
            color: #a0abb8;
            display: inline-block;
            ">Full time</span>
        </div>
        <div class="part2" style="margin-top:-17px;margin-left:10px; font-family: Plus Jakarta Sans,sans-serif;">
            <i class="fa-solid fa-clock" style=" font-size: 12px;
            color: #a0abb8;
            display: inline-block;"></i>
            <span style=" font-size: 12px;
            color: #a0abb8;
            display: inline-block;">6 days ago</span>
        </div>
        </div>
        <p style="font-weight: 500;
        font-size: 14px!important;
        line-height: 22px!important;color: #4f5e64;
        font-family: Plus Jakarta Sans,sans-serif;width:656px;margin-left: 16px;margin-top:12px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae architecto eveniet, dolor quo repellendus pariatur.</p>
        <div class="done" style="display:flex;justify-content:space-between;margin-top:39px">
            <div class="done1" style="padding-left:15px">
       <div>
        <span style="    font-size: 16px;
        line-height: 26px;
        padding-top: 8px;    color: #3c65f5;
        font-family: Plus Jakarta Sans,sans-serif;
        font-weight: 700;">Status:</span>
        <span  style="    font-size: 12px;
        line-height: 12px;font-weight: 700;    color: #198754!important;   font-family: Plus Jakarta Sans,sans-serif;">Done</span>
       </div>
        </div>
        <div class="done2">
        <button  class="view">View Details</button>
            </div>
        </div>
        </section>
        <div>
            <i class="fa-solid fa-chevron-left"  style="    padding: 10px 8px;
            
            color: #a0abb8;
            line-height: 26px;
           
            margin-left: 143px;
    margin-top: 21px;
            
            height: 48px;
    width: 48px;
    border:1px solid;
    border-radius:50%;
            ;padding-top: 10px;
    padding-left: 16px;
    /* color: #fff; */
    /* background-color: #a0abb8; */
    background-color: whitesmoke
        "></i>
            <span style="    padding: 10px 8px;
            font-weight: 600;
            color: #a0abb8;
            line-height: 26px;
            text-decoration: none;
            position: relative;
            font-size: 18px;
            font-weight: 400;
        ">1</span>
            <span style="    padding: 10px 8px;
            font-weight: 600;
            color: #a0abb8;
            line-height: 26px;
            text-decoration: none;
            position: relative;
            font-size: 18px;
            font-weight: 400;
        ">2</span>
            <span style="    padding: 10px 8px;
            font-weight: 600;
            color: #a0abb8;
            line-height: 26px;
            text-decoration: none;
            position: relative;
            font-size: 18px;
            font-weight: 400;
        ">3</span>
            <span style="    padding: 10px 8px;
            font-weight: 600;
            color: #a0abb8;
            line-height: 26px;
            text-decoration: none;
            position: relative;
            font-size: 18px;
            font-weight: 400;
        ">4</span>
            <span style="    padding: 10px 8px;
            font-weight: 600;
            color: #a0abb8;
            line-height: 26px;
            text-decoration: none;
            position: relative;
            font-size: 18px;
            font-weight: 400;
        ">5</span>
            <span style="    padding: 10px 8px;
            font-weight: 600;
            color: #a0abb8;
            line-height: 26px;
            text-decoration: none;
            position: relative;
            font-size: 18px;
            font-weight: 400;
        ">6</span>
            <span style="    padding: 10px 8px;
            font-weight: 600;
            color: #a0abb8;
            line-height: 26px;
            text-decoration: none;
            position: relative;
            font-size: 18px;
            font-weight: 400;
        ">7</span>
        
            <i class="fa-solid fa-chevron-right" style="    padding: 10px 8px;
            
            color: #a0abb8;
            line-height: 26px;
           
         
            
            height: 48px;
    width: 48px;
    border:1px solid;
    border-radius:50%;
            ;padding-top: 10px;
    padding-left: 16px;
    /* color: #fff; */
    /* background-color: #a0abb8; */
    background-color: whitesmoke
        "></i>
        </div>
        <div  class="neww" style="background-color:#3c65f5;width: 80%;
        margin-left: 145px; margin-top:53px;height:396px;">
            <h1   class="new">New Things Will Always
                Update Regularly</h1>
                   <div style="display:flex; justify-content: space-between;">
                    <div>
                <img src="../../assets/newsletter-left.png" alt="" style="margin-top: -54px;
                margin-left: 20px;">
                    </div>
                    <div>
                        <img src="../../assets/newsletter-right.png" alt="" style="    margin-top: -41px;
                        margin-right: 43px;">
                            </div>
                  </div>
                <div style="    position: relative;
                top: -125px;
                margin-left: 261px;
            ">
                    <img src="../../assets/email.233736aa.svg" style="    position: relative;
                    left: 41px;"> 
                    <input type="text" placeholder="Enter your email here" style="width: 61%;
                    border: 0;
                    min-height: 67px;padding: 15px 15px 15px 60px;border-radius:9px;outline:none;
    height: 50px;
    box-shadow: none;
    padding-left: 59px;
    font-size: 14px; font-family: Plus Jakarta Sans,sans-serif;">
                    <div  class="subb"style="position: relative;
                    top: -56px;
                    /* left: 366px; */
                    margin-left: 375px;
                ">
                      <mat-icon style="position: relative;
                      left: 25px;
                      top: 7px;color: #fff;
                    
                   
                        ">verified</mat-icon>
                    <button  class="sub">Subscribe</button>
                    </div>
                </div>
        </div>










