<div class="content">
    <div class="main">
        <div>
        <div class="max">
            <h1>The<span style="color: blue;">Easiest Way</span> <br>
                to Get Your New Job</h1>
            <p>Each month, more than 3 million job seekers turn to<br>
                website in their search for work, making over 140,000<br>
                applications every single day</p>
        </div>
        
        <div class="form-find text-start mt-40 wow animate_animated animate_fadeInUp" data-wow-delay=".2s">
            <form>
                <div class="box-industry">
                    <i class="fa-solid fa-briefcase"></i><select class="form-input mr-10 select-active input-industry"
                        id="sele">
                        <option value="0">Industry</option>
                        <option value="1">Software</option>
                        <option value="2">Finance</option>
                        <option value="3">Recruting</option>
                        <option value="4">Management</option>
                        <option value="5">Advertising</option>
                        <option value="6">Development</option>
                    </select>
                </div>
                <div class="box-industry">
                    <i class="fa-solid fa-location-dot"></i><select
                        class="form-input mr-10 select-active input-location" id="sele">
                        <option value="true">Location</option>
                        <option value="0">Afghanistan</option>
                        <option value="1">Algeria</option>
                        <option value="2">Argentina</option>
                        <option value="3">America</option>
                        <option value="4">Australia</option>
                        <option value="5">Bangladesh</option>
                        <option value="6">Belarus</option>
                        <option value="7">Belgium</option>
                        <option value="8">Bhutan</option>
                        <option value="9">Camaroon</option>
                        <option value="10">China</option>
                        <option value="11">Chile</option>
                        <option value="12">Denmark</option>
                        <option value="13">Dominica</option>
                        <option value="14">Egypt</option>
                        <option value="15">Eritrea</option>
                        <option value="16">Finland</option>
                        <option value="17">France</option>
                        <option value="18">Gambia</option>
                        <option value="19">Germany</option>
                        <option value="20">Hong Kong</option>
                        <option value="21">Iceland</option>
                        <option value="22">India</option>
                        <option value="23">Kenya</option>
                        <option value="24">Namibia</option>
                        <option value="25">Netherland</option>
                        <option value="26">Zimbabwe</option>
                    </select>
                    <i class="fa-solid fa-grip-dots"></i><input style="border:none"
                     type="text" placeholder="Your Answers">
                </div>
                <div class="you">
                </div>
                <div class="you1">
                    <button class="searchbtn"><i class="fa-solid fa-magnifying-glass"></i>Search</button>
                </div>
            </form>
        </div>
    </div>

        <div class="flex">
            <h4>popular serches:</h4>
            <p><u>Designer, Web, IOS, Developer, PHP, Senior, Engineer,</u></p>
        </div>

    </div>

    <div class="image">
        <div class="bg">
            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/banner1.png">


        </div>
        <div class="bg1">
            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/banner2.png">

        </div>
    </div>
</div>


<div class="center">
    <h2>Browse by category</h2>
    <p>Find the job that’s perfect for you. about 800+ new jobs everyday</p>
</div>
<div class="cb">
    <div class="flex1">
        <img class="gun" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/marketing.svg">
        <div class="barder">
            <h6>Marketing&sale</h6>
            <p>1526 jobs avilable</p>
        </div>

    </div>
    <div class="flex1">
        <img class="gun" src="	https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/customer.svg">
        <div class="barder">
            <h6>Customer help</h6>
            <p>185 jobs avilable</p>
        </div>

    </div>
    <div class="flex1">
        <img class="gun" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/finance.svg">
        <div class="barder">
            <h6>Finance</h6>
            <p>168jobs avilable</p>
        </div>

    </div>

    <div class="flex1">
        <img class="gun" src="
            https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/lightning.svg">
        <div class="barder">
            <h6>Softwere</h6>
            <p>1856jobs avilable</p>
        </div>

    </div>
    <div class="flex1">
        <img class="gun" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/human.svg">
        <div class="barder">
            <h6>human Resources</h6>
            <p>165jobs avilable</p>
        </div>

    </div>
    <div class="flex1">
        <img class="gun" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/management.svg">
        <div class="barder">
            <h6>management</h6>
            <p>965jobs avilable</p>
        </div>

    </div>
</div>

<div class="flex2">
    <img src="https://jobbox-nextjs.vercel.app/_next/static/media/bg-left-hiring.545fb761.svg">
    <div>
        <h4>WE ARE</h4>
        <H1>HIRING</H1>
    </div>
    <p class="explore">Let’s Work Together<br>
        & Explore Opportunities</p>
    <button class="btn1">applynow</button>
    <img class="img" src="https://jobbox-nextjs.vercel.app/_next/static/media/bg-right-hiring.9bdfeef6.svg">
</div>

<div class="js">
    <h1>Jobs of the day</h1>
    <p>Search and connect with the right candidates faster.</p>
</div>
<div class="flex3">
    <div class="fle">
        <img class="g" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/management.svg">
        <p>Management</p>
    </div>
    <div class="fle">
        <img class="g" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/marketing.svg">
        <p>Marketingsale</p>
    </div>
    <div class="fle">
        <img class="g" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/finance.svg">
        <p>finance</p>
    </div>
    <div class="fle">
        <img class="g" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/human.svg">
        <p>humanResources</p>
    </div>
    <div class="fle">
        <img class="g" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/management.svg">
        <p>retail&products</p>
    </div>
    <div class="fle">
        <img class="g" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/management.svg">
        <p>Management</p>
    </div>

</div>

<div class="flexx">
    <div class="flex4">
        <div class="ln">
            <img src="	https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-1.png">
            <div class="flash">
                <h6 class="lin">LINKEDIN</h6>
                <P class="new"><i class="fa-solid fa-location-dot"></i>NewYork,Us</P>
                <img  src="https://jobbox-nextjs.vercel.app/_next/static/media/flash.b59af78f.svg" >
            </div>
        </div>

        <h5>UI / UX Designer fulltime</h5>
        <div class="ftm">
            <p><i class="fa fa-briefcase" aria-hidden="true"></i>Fulltime </p>
            <p><i class="fa fa-clock" aria-hidden="true"></i>4 minutes ago</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur <br>
            adipisicing elit. Recusandae architecto<br>
            eveniet, dolor quo repellendus pariatur</p>

        <div class="afp">
            <p>Adobe HD</p>
            <p>Figma</p>
            <p>PhotoShop</p>
        </div>
        <div class="ha">
            <h4>$500<span style="color:#a0abb8 ; font-size: 15px;">/Hour</span></h4>
            <button class="btn">applynow</button>
        </div>




    </div>

    <div class="flex4">
        <div class="ln">
            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-2.png">
            <div class="flash1">
                <h6 class="lin"> Quora JSC</h6>
                <P class="new"><i class="fa-solid fa-location-dot"></i>NewYork,Us</P>
                <img  src="	https://jobbox-nextjs.vercel.app/_next/static/media/flash.b59af78f.svg">
            </div>
        </div>

        <h5>Senior System Engineer</h5>
        <div class="ftm">
            <p><i class="fa fa-briefcase" aria-hidden="true"></i>parttime </p>
            <p><i class="fa fa-clock" aria-hidden="true"></i>5 minutes ago</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur <br>
            adipisicing elit. Recusandae architecto<br>
            eveniet, dolor quo repellendus pariatur</p>

        <div class="afp">
            <p>PHP</p>
            <p>Android</p>

        </div>
        <div class="ha">
            <h4>$800<span style="color:#a0abb8 ; font-size: 15px;">/Hour</span></h4>
            <button class="btn">applynow</button>
        </div>

    </div>

    <div class="flex4">
        <div class="ln">
            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-3.png">
            <div class="flash2">
                <h6 class="lin"> Bing Search</h6>
                <P class="new"><i class="fa-solid fa-location-dot"></i>NewYork,Us</P>
                <img  src="	https://jobbox-nextjs.vercel.app/_next/static/media/flash.b59af78f.svg">
            </div>
        </div>

        <h5>Java Software Engineer</h5>
        <div class="ftm">
            <p><i class="fa fa-briefcase" aria-hidden="true"></i>fulltime </p>
            <p><i class="fa fa-clock" aria-hidden="true"></i>8 minutes ago</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur <br>
            adipisicing elit. Recusandae architecto<br>
            eveniet, dolor quo repellendus pariatur</p>

        <div class="afp">
            <p>python</p>
            <p>aws</p>
            <p>Photoshop</p>

        </div>
        <div class="ha">
            <h4>$250<span style="color:#a0abb8 ; font-size: 15px;">/Hour</span></h4>
            <button class="btn">applynow</button>
        </div>




    </div>
    <div class="flex4">
        <div class="ln">
            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-4.png">
            <div class="flash3">
                <h6 class="lin"> Dailymotion</h6>
                <P class="new"><i class="fa-solid fa-location-dot"></i>NewYork,Us</P>
                <img  src="	https://jobbox-nextjs.vercel.app/_next/static/media/flash.b59af78f.svg">
            </div>
        </div>

        <h5>Frontend Developer</h5>
        <div class="ftm">
            <p><i class="fa fa-briefcase" aria-hidden="true"></i>fulltime </p>
            <p><i class="fa fa-clock" aria-hidden="true"></i>6 minutes ago</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur <br>
            adipisicing elit. Recusandae architecto<br>
            eveniet, dolor quo repellendus pariatur</p>

        <div class="afp">
            <p>typescript</p>
            <p>Java</p>


        </div>
        <div class="ha">
            <h4>$250<span style="color:#a0abb8 ; font-size: 15px;">/Hour</span></h4>
            <button class="btn">applynow</button>
        </div>

    </div>
</div>

<div class="flexx">
    <div class="flex4">
        <div class="ln">
            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-5.png">
            <div class="flash4">
                <h6 class="lin"> LINKEDIN</h6>
                <P class="new"><i class="fa-solid fa-location-dot"></i>NewYork,Us</P>
                <img  src="	https://jobbox-nextjs.vercel.app/_next/static/media/flash.b59af78f.svg">
            </div>
        </div>

        <h5>
            React Native Web Developer</h5>
        <div class="ftm">
            <p><i class="fa fa-briefcase" aria-hidden="true"></i>fulltime </p>
            <p><i class="fa fa-clock" aria-hidden="true"></i>4 minutes ago</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur <br>
            adipisicing elit. Recusandae architecto<br>
            eveniet, dolor quo repellendus pariatur</p>

        <div class="afp">
            <p>angular</p>
        </div>
        <div class="ha">
            <h4>500<span style="color:#a0abb8 ; font-size: 15px;">/Hour</span></h4>
            <button class="btn">applynow</button>
        </div>

    </div>

    <div class="flex4">
        <div class="ln">
            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-6.png">
            <div class="flash5">
                <h6 class="lin">Quora JSC</h6>
                <P class="new"><i class="fa-solid fa-location-dot"></i>NewYork,Us</P>
                <img  src="	https://jobbox-nextjs.vercel.app/_next/static/media/flash.b59af78f.svg">
            </div>
        </div>

        <h5>Senior System Engineer</h5>
        <div class="ftm">
            <p><i class="fa fa-briefcase" aria-hidden="true"></i>parttime </p>
            <p><i class="fa fa-clock" aria-hidden="true"></i>5 minutes ago</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur <br>
            adipisicing elit. Recusandae architecto<br>
            eveniet, dolor quo repellendus pariatur</p>

        <div class="afp">
            <p>PHP</p>
            <p>Android</p>
        </div>
        <div class="ha">
            <h4>800<span style="color:#a0abb8 ; font-size: 15px;">/Hour</span></h4>
            <button class="btn">applynow</button>
        </div>

    </div>

    <div class="flex4">
        <div class="ln">
            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-5.png">
            <div class="flash6">
                <h6 class="lin"> LINKEDIN</h6>
                <P class="new"><i class="fa-solid fa-location-dot"></i>NewYork,Us</P>
                <img  src="	https://jobbox-nextjs.vercel.app/_next/static/media/flash.b59af78f.svg">
            </div>
        </div>

        <h5>
            React Native Web Developer</h5>
        <div class="ftm">
            <p><i class="fa fa-briefcase" aria-hidden="true"></i>fulltime </p>
            <p><i class="fa fa-clock" aria-hidden="true"></i>4 minutes ago</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur <br>
            adipisicing elit. Recusandae architecto<br>
            eveniet, dolor quo repellendus pariatur</p>

        <div class="afp">
            <p>angular</p>
        </div>
        <div class="ha">
            <h4>500<span style="color:#a0abb8 ; font-size: 15px;">/Hour</span></h4>
            <button class="btn">applynow</button>
        </div>

    </div>

    <div class="flex4">
        <div class="ln">
            <img src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-5.png">
            <div class="flash7">
                <h6 class="lin">LINKEDIN</h6>
                <P class="new"><i class="fa-solid fa-location-dot"></i>NewYork,Us</P>
                <img  src="	https://jobbox-nextjs.vercel.app/_next/static/media/flash.b59af78f.svg">
            </div>
        </div>

        <h5>React Native Web Developer</h5>
        <div class="ftm">
            <p><i class="fa fa-briefcase" aria-hidden="true"></i>fulltime </p>
            <p><i class="fa fa-clock" aria-hidden="true"></i>4 minutes ago</p>
        </div>
        <p>Lorem ipsum dolor sit amet, consectetur <br>
            adipisicing elit. Recusandae architecto<br>
            eveniet, dolor quo repellendus pariatur</p>

        <div class="afp">
            <p>angular</p>

        </div>
        <div class="ha">
            <h4>500<span style="color:#a0abb8 ; font-size: 15px;">/Hour</span></h4>
            <button class="btn">applynow</button>
        </div>

    </div>


</div>

<div class="main5">
    <div>
        <div>
            <img class="cource" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/img-chart.png">
        </div>
        <div>
            <img class="member" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/img1.png">
        </div>
        <div>
            <img class="tap" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/controlcard.png">
        </div>
    </div>
    <div class="mfs">
        <h2>Millions Of Jobs.</h2>
        <h1><b>Find The One That’s<br>
                <span style="color: blue;">Right </span>For You</b></h1>
        <p>Search all the open positions on the web. Get your own personalized salary <br>
            estimate. Read reviews on over 600,000 companies worldwide. The right<br> job is out there.</p>
        <div class="fx">
            <button class="btn1">Searchjob</button>
            <p class="lm"><u>learnmore</u></p>
        </div>
    </div>

</div>

<div class="main6">
    <div class="cwc">
        <h1><b>25 K+</b></h1>
        <h3>Completed Cases</h3>
        <p class="wa">We always provide people a</p>
        <p class="cs">complete solution upon focused of</p>
        <p class="ab">any business</p>
    </div>
    <div class="cwc">
        <h1><b>17 +</b></h1>
        <h3>our office</h3>
        <p class="wa">We always provide people a</p>
        <p class="cs">complete solution upon focused of</p>
        <p class="ab">any business</p>
    </div>
    <div class="cwc">
        <h1><b>86 +</b></h1>
        <h3>Skilled people</h3>
        <p class="wa">We always provide people a</p>
        <p class="cs">complete solution upon focused of</p>
        <p class="ab">any business</p>
    </div>
    <div class="cwc">
        <h1><b>28 +</b></h1>
        <h3>C happy clients</h3>
        <p class="wa">We always provide people a</p>
        <p class="cs">complete solution upon focused of</p>
        <p class="ab">any business</p>
    </div>

</div>

<div class="td">
    <h1><b>Top Recruiters</b></h1>
    <p>Discover your next career move, freelance gig, or internship</p>
</div>

<div class="main7">
    <div class="fxy">

        <div class="flex6">
            <img class="lid" src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-1.png">
            <div class="sl">
                <h6>Linkedin</h6>
                <div class="stars">
                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                    <p class="six">(68)</p>
                </div>
            </div>
        </div>
        <div class="fj">
            <p><i class="fa-solid fa-location-dot"></i>New York,US</p>
            <p>25 open Jobs</p>

        </div>
    </div>

    <div class="fxy">

        <div class="flex6">
            <img class="lid" src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-2.png">
            <div class="sl">
                <h6>Adobe</h6>
                <div class="stars">
                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                    <p class="six">(68)</p>
                </div>
            </div>
        </div>
        <div class="fj">
            <p><i class="fa-solid fa-location-dot"></i>New York,US</p>
            <p>17 open Jobs</p>

        </div>
    </div>

    <div class="fxy">

        <div class="flex6">
            <img class="lid" src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-3.png">
            <div class="sl">
                <h6>Dailymotion</h6>
                <div class="stars">
                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                    <p class="six">(68)</p>
                </div>
            </div>
        </div>
        <div class="fj">
            <p><i class="fa-solid fa-location-dot"></i>New York,US</p>
            <p>65 open Jobs</p>

        </div>
    </div>

    <div class="fxy">

        <div class="flex6">
            <img class="lid" src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-4.png">
            <div class="sl">
                <h6>Newsum</h6>
                <div class="stars">
                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                    <p class="six">(68)</p>
                </div>
            </div>
        </div>
        <div class="fj">
            <p><i class="fa-solid fa-location-dot"></i>New York,US</p>
            <p>25 open Jobs</p>

        </div>
    </div>
    <div class="fxy">

        <div class="flex6">
            <img class="lid" src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-5.png">
            <div class="sl">
                <h6>Powerhome</h6>
                <div class="stars">
                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                    <p class="six">(68)</p>
                </div>
            </div>
        </div>
        <div class="fj">
            <p><i class="fa-solid fa-location-dot"></i>New York,US</p>
            <p>25 open Jobs</p>

        </div>
    </div>

    <div class="fxy">

        <div class="flex6">
            <img class="lid" src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-6.png">
            <div class="sl">
                <h6>Whop.com</h6>
                <div class="stars">
                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                    <p class="six">(68)</p>
                </div>
            </div>
        </div>
        <div class="fj">
            <p><i class="fa-solid fa-location-dot"></i>New York,US</p>
            <p>56 open Jobs</p>

        </div>
    </div>

    <div class="fxy">

        <div class="flex6">
            <img class="lid" src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-7.png">
            <div class="sl">
                <h6>Greewood</h6>
                <div class="stars">
                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                    <p class="six">(68)</p>
                </div>
            </div>
        </div>
        <div class="fj">
            <p><i class="fa-solid fa-location-dot"></i>New York,US</p>
            <p>78open Jobs</p>

        </div>
    </div>

    <div class="fxy">

        <div class="flex6">
            <img class="lid" src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-8.png">
            <div class="sl">
                <h6>Kentucky</h6>
                <div class="stars">
                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                    <p class="six">(68)</p>
                </div>
            </div>
        </div>
        <div class="fj">
            <p><i class="fa-solid fa-location-dot"></i>New York,US</p>
            <p>98open Jobs</p>

        </div>
    </div>
    <div class="fxy">

        <div class="flex6">
            <img class="lid" src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-9.png">
            <div class="sl">
                <h6>Qeuity</h6>
                <div class="stars">
                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                    <p class="six">(68)</p>
                </div>
            </div>
        </div>
        <div class="fj">
            <p><i class="fa-solid fa-location-dot"></i>New York,US</p>
            <p>9 open Jobs</p>

        </div>
    </div>

    <div class="fxy">

        <div class="flex6">
            <img class="lid" src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-10.png">
            <div class="sl">
                <h6>Honda</h6>
                <div class="stars">
                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                    <p class="six">(68)</p>
                </div>
            </div>
        </div>
        <div class="fj">
            <p><i class="fa-solid fa-location-dot"></i>New York,US</p>
            <p>34 open Jobs</p>

        </div>
    </div>
    <div class="fxy">

        <div class="flex6">
            <img class="lid" src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-5.png">
            <div class="sl">
                <h6>Toyota</h6>
                <div class="stars">
                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                    <p class="six">(68)</p>
                </div>
            </div>
        </div>
        <div class="fj">
            <p><i class="fa-solid fa-location-dot"></i>New York,US</p>
            <p>26 open Jobs</p>

        </div>
    </div>

    <div class="fxy">

        <div class="flex6">
            <img class="lid" src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-3.png">
            <div class="sl">
                <h6>Lexuxs</h6>
                <div class="stars">
                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                    <p class="six">(68)</p>
                </div>
            </div>
        </div>
        <div class="fj">
            <p><i class="fa-solid fa-location-dot"></i>New York,US</p>
            <p>54 open Jobs</p>

        </div>
    </div>

    <div class="fxy">

        <div class="flex6">
            <img class="lid" src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-6.png">
            <div class="sl">
                <h6>Ondo</h6>
                <div class="stars">
                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                    <p class="six">(68)</p>
                </div>
            </div>
        </div>
        <div class="fj">
            <p><i class="fa-solid fa-location-dot"></i>New York,US</p>
            <p>58 open Jobs</p>

        </div>
    </div>

    <div class="fxy">

        <div class="flex6">
            <img class="lid" src="https://jobbox-nextjs.vercel.app/assets/imgs/brands/brand-2.png">
            <div class="sl">
                <h6>Suare</h6>
                <div class="stars">
                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                    <p class="six">(68)</p>
                </div>
            </div>
        </div>
        <div class="fj">
            <p><i class="fa-solid fa-location-dot"></i>New York,US</p>
            <p>37 open Jobs</p>

        </div>
    </div>

    <div class="fxy">

        <div class="flex6">
            <img class="lid" src="Vista">
            <div class="sl">
                <h6>Suare</h6>
                <div class="stars">
                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">

                    <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/icons/star.svg">
                    <p class="six">(68)</p>
                </div>
            </div>
        </div>
        <div class="fj">
            <p><i class="fa-solid fa-location-dot"></i>New York,US</p>
            <p>43 open Jobs</p>

        </div>
    </div>



</div>

<div class="jf">
    <h2><b>Jobs by Location</b></h2>
    <p>Find your favourite jobs and get the benefits of yourself</p>
</div>

<div class="bflex">
    <div class="bar">
        <div class="img1">
            <p class="hot">hot</p>
        </div>
        <div class="pf">
            <div>
                <h6 class="ps">paris,france</h6>
                <p class="vac">5vacancy</p>
            </div>
            <div>
                <p class="com">120 companies</p>
            </div>
        </div>
    </div>

    <div class="bar1">
        <div class="img2">
            <p>Trending</p>
        </div>
        <div class="flex8">
            <div>
                <h5 class="le">London,England</h5>
                <p class="va">7Vacancy</p>
            </div>
            <div>
                <p class="comp">68comapnies</p>
            </div>

        </div>
    </div>

    <div class="bar3">
        <div class="img3">
            <p>Trending</p>
        </div>
        <div class="flex8">
            <div>
                <h5 class="le1">Newyork,Usa</h5>
                <p class="va1">9Vacancy</p>
            </div>
            <div>
                <p class="comp1">80comapnies</p>
            </div>

        </div>
    </div>


</div>


<div class="bbflex">
    <div class="bdr">
        <div class="img4">
        </div>
        <div>
            <div class="avc">
                <div>
                    <h3 class="ah">Amsterdam,Holland</h3>
                    <p class="ncy">16vacnacy</p>
                </div>

                <div>
                    <p class="es">86companies</p>
                </div>
            </div>
        </div>

    </div>
    <div class="bdr1">
        <div class="img5">
        </div>
        <div>
            <div class="avc1">
                <div>
                    <h3 class="ah1">Copenhagen,Denmark</h3>
                    <p class="ncy1">39vacnacy</p>
                </div>

                <div>
                    <p class="es1">186companies</p>
                </div>
            </div>
        </div>

    </div>
    <div class="bdr2">
        <div class="img6">
        </div>
        <div>
            <div class="avc2">
                <div>
                    <h3 class="ah2">Berlin,Germany</h3>
                    <p class="ncy2">16vacnacy</p>
                </div>

                <div>
                    <p class="es2">86companies</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ng">
    <h1><b>News and Blog</b></h1>
    <p>Get the latest news, updates and tips</p>
</div>

<div class="flex9">
<div class="brdrr">
<div class="flex7">
    <div class="brdr">
        <div class="iag">

        </div>
        <p class="ws" >news</p>
        <h4 class="tt">21 job Tnterview Tips:how to Make a<br>Great Impression</h4>
        <p class="para">our mission is to create the world&rsquo;s most<br>
        sustainablehealthcare companyby craeating high quality<br>
         healthcare products in iconic,sustainable pakaging </p>
         <div class="flex8">
            <div>
                <img class="round" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/user1.png">
                </div>
                <div>
                    <p class="sh">sarah harding</p>
                    <p class="se">06 september</p>
                </div>
                </div>
                
                <div>
                    <p class="re">8 mis to read</p>
                </div>
                
            

         

    </div>

</div>
</div>
<div class="brdrr">
    <div class="flex7">
        <div class="brdr">
            <div class="iag1">
    
            </div>
            <p class="ws" >news</p>
            <h4 class="tt">21 job Tnterview Tips:how to Make a<br>Great Impression</h4>
            <p class="para">our mission is to create the world&rsquo;s most<br>
            sustainablehealthcare companyby craeating high quality<br>
             healthcare products in iconic,sustainable pakaging </p>
             <div class="flex8">
                <div>
                    <img class="round" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/user1.png">
                    </div>
                    <div>
                        <p class="sh">steven jobs</p>
                        <p class="se">06 september</p>
                    </div>
                    </div>
                    
                    <div>
                        <p class="re">6 mis to read</p>
                    </div>
                    
                
    
             
    
        </div>
    
    </div>
    </div>

    <div class="brdrr">
        <div class="flex7">
            <div class="brdr">
                <div class="iag2">
        
                </div>
                <p class="ws" >news</p>
                <h4 class="tt">21 job Tnterview Tips:how to Make a<br>Great Impression</h4>
                <p class="para">our mission is to create the world&rsquo;s most<br>
                sustainablehealthcare companyby craeating high quality<br>
                 healthcare products in iconic,sustainable pakaging </p>
                 <div class="flex8">
                    <div>
                        <img class="round" src="https://jobbox-nextjs.vercel.app/assets/imgs/page/homepage1/user1.png">
                        </div>
                        <div>
                            <p class="sh">William kend</p>
                            <p class="se">06 september</p>
                        </div>
                        </div>
                        
                        <div>
                            <p class="re">9 mis to read</p>
                        </div>
                        
                    
        
                 
        
            </div>
        
        </div>
        </div>
</div>

<section class="container2">
    <div class="boxnews">
        <img src="https://jobbox-nextjs.vercel.app/assets/imgs/template/newsletter-left.png">
        <h1 id="update">New Things Will Always Update Regularly</h1>
        <img id="email-icon" src="https://cdn.iconscout.com/icon/free/png-128/email-2026367-1713640.png">
        <input id="email" type="Email" placeholder="Enter yours email here">
        <button id="subscribe">subscribe</button>
        <img id="newsletter-left" src="https://jobbox-nextjs.vercel.app/assets/imgs/template/newsletter-right.png" alt="">
    </div>
</section>



