<div class="main">
    <div class="pt-100 login-register">
        <div class="container">
            <div class="row login-register-cover">
                <div class="col-lg-4 col-md-6 col-sm-12 mx-auto">
                    <div class="text-center">
                        <p class="font-sm text-brand-2">Register</p>
                        <h2 class="mt-10 mb-3 text-brand-1">Start for free Today</h2>
                        <p class="font-sm text-muted mb-30">Access to all features. No credit card required.</p>
                        <button class="btn social-login hover-up mb-20">
                            <img src="../../assets/icon-google.svg" alt="image">
                            <strong>Sign up with Google</strong>
                        </button>
                        <div class="divider-text-center">
                            <span>Or continue with</span>
                        </div>
                    </div>
                    <form action="#" class="login-register text-start mt-20">
                        <div class="form-group">
                            <label for="input-1" class="form-label">Full Name *</label>
                            <input
                                type="text"
                                class="form-control"
                                id="input-1"
                                required
                                name="fullname"
                                placeholder="Full Name"
                            >
                        </div>
                        <div class="form-group">
                            <label for="input-2" class="form-label">Email *</label>
                            <input
                                type="email"
                                class="form-control"
                                id="input-2"
                                required
                                name="email address"
                                placeholder="Enter@gmail.com"
                            >
                        </div>
                        <div class="form-group">
                            <label for="input-3" class="form-label">Username *</label>
                            <input
                                type="text"
                                class="form-control"
                                id="input-3"
                                required
                                name="Username"
                                placeholder="Username"
                            >
                        </div>
                        <div class="form-group">
                            <label for="input-4" class="form-label">Password *</label>
                            <input
                                type="password"
                                class="form-control"
                                id="input-4"
                                required
                                name="password"
                                placeholder="************"
                            >
                        </div>
                        <div class="form-group">
                            <label for="input-5" class="form-label">Re-Password *</label>
                            <input
                                type="password"
                                class="form-control"
                                id="input-5"
                                required
                                name="password"
                                placeholder="************"
                            >
                        </div>
                        <div class="login_footer form-group d-flex justify-content-between">
                            <label class="cb-container">
                                <input type="checkbox">
                                <span class="text-small">Agree our terms and policy</span>
                                <span class="checkmark"></span>
                            </label>
                            <a class="text-muted">Lean more</a>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-brand-1 hover-up w-100" type="submit" name="login">Submit & Register</button>
                        </div>
                        <div class="text-muted text-center">
                            Already have an account ?
                            <a routerLink="/signin">Sign in</a>
                        </div>
                    </form>
                </div>
                <div class="img-1 d-none d-lg-block">
                    <img class="shape-1" src="../../assets/img-1.svg" alt="">
                </div>
                <div class="img-2">
                    <img src="../../assets/img-2.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
